<link rel="import" href="../../../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../utils/tableList.html">

<dom-module id="account-view">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 5px;
      }
      paper-spinner-lite{
        --paper-spinner-color: #1464A5;
        --paper-spinner-stroke-width: 2px;
      }
    </style>
    <div class="container">
      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <span class="input-group-addon"><iron-icon icon="account-balance"></span>
            <select class="custom-select" value="{{selectedAccount.product_id::input}}" aria-describedby="productHelp" 
                    on-change="printDescription">
              <option value="-1">Seleccione el producto del banco para la cuenta que va a crear...</option>
              <template is="dom-repeat" items="[[bankProducts]]" >
                <option value="{{item.id}}" selected$="[[isSelected(item.id)]]">{{item.name}}</option>
              </template>
            </select>
          </div>
          <small id="productHelp" class="form-text text-muted" align="left">Nombre del producto asociado a la cuenta</small>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <input type="text" class="form-control" aria-describedby="descHelp" value="{{selectedAccount.description}}" disabled>
          </div>
          <small id="descHelp" class="form-text text-muted" align="left">Descripción del producto asociado a la cuenta</small>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <span class="input-group-addon"><iron-icon icon="code"></span>
            <input type="text" class="form-control" aria-describedby="codeHelp" value="{{selectedAccount.code::input}}" on-change="newChange">
          </div>
          <small id="codeHelp" class="form-text text-muted" align="left">Código cuenta cliente de la cuenta contratada</small>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <span class="input-group-addon"><iron-icon icon="euro-symbol"></span>
            <input type="number" class="form-control" aria-describedby="descHelp" value="{{selectedAccount.balance::input}}" on-change="newChange">
          </div>
          <small id="descHelp" class="form-text text-muted" align="left">Saldo de la cuenta</small>
        </div>
      </div>
      <div class="row" hidden="[[hide]]">
        <div class=" col-12" align="center">
          <paper-spinner-lite hidden="[[!hideTable]]" active></paper-spinner-lite>
        </div>
      </div>
      <div class="row" hidden="[[hide]]">
        <div class=" col-12" align="center">
          <table-list show-remove-button="true" columns="[[movColumns]]" content="[[selectedAccount.movements]]"
                      on-delete-row="deleteMovement" on-click-row="movementDetails" on-create-row="createMovement"
                      message="Movimientos de la cuenta" hidden="[[hideTable]]"></table-list>
        </div>
      </div>
    </div>
  </template>

  <script>
    class AccountView extends Polymer.Element {
      static get is() { return 'account-view'; }
      static get properties() {
        return {
          movColumns:{
            type: Array,
            value: [{name: "id", display: "#"},
                    {name: "concept", display: "Concepto"},
                    {name: "detail", display: "Detalle"},
                    {name: "dateText", display: "Fecha"},
                    {name: "quantity", display: "Importe"}]
          },
          selectedAccount: {
            type: Object,
            value: {},
            observer: "printAccountDetails"
          },
          hideTable: {
            type: Boolean,
            value: true,
            notify: true
          }
        };
      }

      static get observers() {
        return [
          'printAccountDetails(selectedAccount.*)'
        ]
      }

      printAccountDetails(){
        if(this.selectedAccount.new){
          this.hide = true;
        }
        else{
          this.hide = false;
          if(this.selectedAccount.movements){
            this.hideTable = false;
            for(var mov in this.selectedAccount.movements){
              var d = new Date(this.selectedAccount.movements[mov].date.$date);
              this.selectedAccount.movements[mov].dateText = d.getDate() + " - " + (d.getMonth() + 1) + " - " + d.getFullYear();;
            }
          }
        }
      }

      newChange(){
        this.set("selectedAccount.changed", true);
      }

      printDescription(){
        this.newChange();
        for(var i in this.bankProducts){
          if(this.bankProducts[i].id == this.selectedAccount.product_id){
            this.set("selectedAccount.description", this.bankProducts[i].description);
            this.selectedAccount.product_name = this.bankProducts[i].name;
            return;    
          }
        }
        this.set("selectedAccount.description", "");
      }

      isSelected(id){
        if(id == this.selectedAccount.product_id){
          return true;
        }
        return false;
      }

      movementDetails(e){
        console.log("Selected mov " + e.detail.row._id.$oid);
        this.dispatchEvent(new CustomEvent("mov-select", {
          detail: {
            movement: e.detail.row
          }, 
          bubbles: true, 
          composed: true
        }));
      }

      deleteMovement(e){
        console.log("Delete mov " + e.detail.row.id);
        this.dispatchEvent(new CustomEvent("mov-delete", {
          detail: {
            id: e.detail.row.id
          }, 
          bubbles: true, 
          composed: true
        }));
      }

      createMovement(e){
        this.dispatchEvent(new CustomEvent("mov-create", {
          detail: {
          }, 
          bubbles: true, 
          composed: true
        }));
      }
    }

    window.customElements.define(AccountView.is, AccountView);
  </script>
</dom-module>