<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../accountCard.html">

<dom-module id="category-view">
<template>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <style>
    :host {
      display: block;
      padding: 15px;
    }
  </style>
  
  <form class="container" id="form-category">
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group">
          <span class="input-group-addon"><iron-icon icon="account-balance"></span>
          <input type="text" class="form-control" name="product" aria-describedby="nameHelp" placeholder="Nombre" value="{{selectedCategory.name::input}}" 
                 on-change="newChange">
        </div>
        <small id="nameHelp" class="form-text text-muted" align="left">Nombre</small>
      </div>
      <div class="form-group col-md-6">
        <div class="input-group">
          <input type="text" class="form-control" name="sn" aria-describedby="descHelp" placeholder="Descripción" value="{{selectedCategory.description::input}}" 
                 on-change="newChange">
        </div>
        <small id="descHelp" class="form-text text-muted" align="left">Descripción</small>
      </div>
    </div>
  </form>
</template>

<script>
  class CategoryView extends Polymer.Element {
    static get is() { return 'category-view'; }
    static get properties() {
      return {
        resetForm: {
          type: Boolean,
          observer: "resetFields"
        },
        error: {
          typr: String,
          notify: true
        },
      };
    }

    newChange(){
      this.set("selectedCategory.changed", true);
    }

    resetFields(reset){
      if(reset){
        this.shadowRoot.querySelector('#form-category').reset();
      }
    }
  }

  window.customElements.define(CategoryView.is, CategoryView);
</script>
</dom-module>