<link rel="import" href="../utils/tableList.html">

<dom-module id="category-list">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 5px;
      }
      
    </style>
    <div class="container">
      <table-list show-remove-button="true" columns="[[categoryColumns]]" content="[[categories]]"
                  on-delete-row="deleteCategory" on-click-row="categoryDetails" on-create-row="createCategory"
                  message="Categorías definidas"></table-list>
    </div>
  </template>

  <script>
    class CategoryList extends Polymer.Element {
      static get is() { return 'category-list'; }
      static get properties() {
        return {
          categoryColumns:{
            type: Array,
            value: [{name: "id", display: "#"},
                    {name: "name", display: "Nombre"},
                    {name: "description", display: "Descripción"}]
          },
          categories: Array
        };
      }

      createCategory(e){
        this.dispatchEvent(new CustomEvent("category-create", {
          detail: {
          }, 
          bubbles: true, 
          composed: true
        }));
      }

      categoryDetails(e){
        console.log("Selected category " + e.detail.row.id);
        this.dispatchEvent(new CustomEvent("category-select", {
          detail: {
            category: e.detail.row
          }, 
          bubbles: true, 
          composed: true
        }));
      }

      deleteCategory(e){
        console.log("Delete product " + e.detail.row.id);
        this.dispatchEvent(new CustomEvent("category-delete", {
          detail: {
            id: e.detail.row.id
          }, 
          bubbles: true, 
          composed: true
        }));
      }
    }

    window.customElements.define(CategoryList.is, CategoryList);
  </script>
</dom-module>