<link rel="import" href="../../../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/social-icons.html">

<link rel="import" href="../utils/tableList.html">

<dom-module id="movement-view">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 5px;
      }
      paper-spinner-lite{
        --paper-spinner-color: #1464A5;
        --paper-spinner-stroke-width: 2px;
      }
      .green-icon{
        color: var(--paper-green-500);
        --paper-icon-button-ink-color: var(--paper-indigo-500);
        width: 40px;
        height: 40px;
      }
    </style>
    <div class="container">
      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <span class="input-group-addon"><iron-icon icon="social:person"></span>
            <select class="custom-select" id="user" value="{{selectedMovement.user::input}}" aria-describedby="userHelp" on-change="userChanged" disabled$="[[disable]]">
              <option value="-1">Seleccione el usuario al que quiere asignar el movimiento...</option>
              <template is="dom-repeat" items="[[users]]" >
                <option value="{{item.id}}" selected$="[[selectedUser(item.id)]]">{{item.user}}</option>
              </template>
            </select>
          </div>
          <small id="userHelp" class="form-text text-muted" align="left">Usuario al que pertenece el movimiento</small>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <span class="input-group-addon"><iron-icon icon="account-balance"></span>
            <select class="custom-select" id="account" value="{{selectedMovement.account::input}}" aria-describedby="accountHelp" disabled$="[[disable]]" on-change="newChange">
              <option value="-1">Seleccione la cuenta del usuario al que quiere asignar el movimiento...</option>
              <template is="dom-repeat" items="[[accounts]]" >
                <option value="{{item.id}}" selected$="[[selectedAccount(item.id)]]">{{item.code}}</option>
              </template>
            </select>
          </div>
          <small id="accountHelp" class="form-text text-muted" align="left">Cuenta a la que pertenece el movimiento</small>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <span class="input-group-addon"><iron-icon icon="code"></span>
            <input type="text" class="form-control" aria-describedby="conceptHelp" value="{{selectedMovement.concept::input}}" on-change="newChange">
          </div>
          <small id="conceptHelp" class="form-text text-muted" align="left">Concepto del movimiento</small>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <span class="input-group-addon"><iron-icon icon="code"></span>
            <input type="text" class="form-control" aria-describedby="detailHelp" value="{{selectedMovement.detail::input}}" on-change="newChange">
          </div>
          <small id="detailHelp" class="form-text text-muted" align="left">Detalle del movimiento</small>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <div class="input-group">
            <span class="input-group-addon"><iron-icon icon="euro-symbol"></iron-icon></span>
            <input type="number" class="form-control" id="quantity" aria-describedby="quantityHelp" value="{{selectedMovement.quantity::input}}" on-change="newChange">
          </div>
          <small id="quantityHelp" class="form-text text-muted" align="left">Importe del movimiento</small>
        </div>
        <div class="form-group col-md-3">
          <div class="input-group">
            <span class="input-group-addon"><iron-icon icon="date-range"></iron-icon></span>
            <input type="date" class="form-control" id="date" aria-describedby="dateHelp" value="{{selectedMovement.dateFormat::input}}" on-change="newChange">
          </div>
          <small id="dateHelp" class="form-text text-muted" align="left">Fecha del movimiento</small>
        </div>
        <div class="form-group col-md-3">
          <div class="input-group">
            <span class="input-group-addon"><iron-icon icon="code"></span>
            <select class="custom-select" id="type" value="{{selectedMovement.type::input}}" aria-describedby="typeHelp" on-change="newChange">
                <option value="-1" selected>Tipo de movimiento...</option>
                <option value="0">Ingresos</option>
                <option value="1">Compra</option>
                <option value="1">Cargo a cuenta</option>
              </select>
          </div>
          <small id="typeHelp" class="form-text text-muted" align="left">Tipo de movimiento</small>
        </div>
        <div class="form-group col-md-4">
          <div class="input-group">
            <span class="input-group-addon"><iron-icon icon="code"></span>
            <select class="custom-select" id="category" value="{{selectedMovement.category::input}}" aria-describedby="categoryHelp" on-change="newChange">
              <option value="-1" selected>Selecciona una categoría...</option>
              <template is="dom-repeat" items="[[categories]]">
                <option value="{{item.id}}" selected$="[[selectedCategory(item.id)]]">{{item.name}}</option>
              </template>
            </select>
          </div>
          <small id="categoryHelp" class="form-text text-muted" align="left">Categoría del movimiento</small>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <span class="input-group-addon"><iron-icon icon="shopping-cart"></span>
            <input type="text" class="form-control" aria-describedby="merchantHelp" value="{{selectedMovement.merchant::input}}" on-change="newChange">
          </div>
          <small id="merchantHelp" class="form-text text-muted" align="left">Comercio del movimiento</small>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <span class="input-group-addon"><iron-icon icon="maps:streetview"></span>
            <input type="text" class="form-control" aria-describedby="addressHelp" value="{{selectedMovement.address::input}}" on-change="newChange">
          </div>
          <small id="detailHelp" class="form-text text-muted" align="left">Dirección del comercio</small>
        </div>
        <div class="form-group col-md-3">
          <div class="input-group">
            <span class="input-group-addon"><iron-icon icon="social:location-city"></span>
            <input type="text" class="form-control" aria-describedby="cityHelp" value="{{selectedMovement.city::input}}" on-change="newChange">
          </div>
          <small id="cityHelp" class="form-text text-muted" align="left">Ciudad del comercio</small>
        </div>
        <div class="form-group col-md-3">
          <div class="input-group">
            <span class="input-group-addon"><iron-icon icon="markunread-mailbox"></span>
            <input type="text" class="form-control" aria-describedby="zipHelp" value="{{selectedMovement.ZIP::input}}" on-change="newChange">
          </div>
          <small id="zipHelp" class="form-text text-muted" align="left">Código postal del comercio</small>
        </div>
        
      </div>
    </div>
  </template>

  <script>
    class MovementView extends Polymer.Element {
      static get is() { return 'movement-view'; }
      static get properties() {
        return {
          selectedMovement:{
            type: Object,
            observer: "printMovementsDetails"
          }
        };
      }

      newChange(){
        this.set("selectedMovement.changed", true);
      }

      userChanged(){
        for(var i in this.allUsers){          
          if(this.allUsers[i].id == parseInt(this.selectedMovement.user)){
            this.users = this.allUsers;
            this.accounts = this.allUsers[i].accounts;
            this.selectedMovement.account = undefined;
            break;
          }
        }
        this.newChange();
      }
      printMovementsDetails(){
        for(var i in this.allUsers){          
          if(this.allUsers[i].id == parseInt(this.selectedMovement.user)){
            this.users = this.allUsers;
            this.accounts = this.allUsers[i].accounts;
            break;
          }
        }
        this.categories = this.allCategories;
        if(this.selectedMovement.new){
          this.disable = true;
        }
        else{
          this.disable = false;
        }
      }

      selectedUser(id){
        if(parseInt(this.selectedMovement.user) == id){
          return true;
        }
        return false;
      }

      selectedAccount(id){
        if(parseInt(this.selectedMovement.account) == id){
          return true;
        }
        return false;
      }
     
      selectedCategory(id){
        if(parseInt(this.selectedMovement.category) == id){
          return true;
        }
        return false;
      }
    }
    window.customElements.define(MovementView.is, MovementView);
  </script>
</dom-module>