<link rel="import" href="../utils/tableList.html">

<dom-module id="product-list">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 5px;
      }
      
    </style>
    <div class="container">
      <table-list show-remove-button="true" columns="[[productColumns]]" content="[[products]]"
                  on-delete-row="deleteProduct" on-click-row="productDetails" on-create-row="createProduct"
                  message="Productos actuales"></table-list>
    </div>
  </template>

  <script>
    class ProductList extends Polymer.Element {
      static get is() { return 'product-list'; }
      static get properties() {
        return {
          productColumns:{
            type: Array,
            value: [{name: "id", display: "#"},
                    {name: "name", display: "Nombre"},
                    {name: "description", display: "Descripción"}]
          },
          products: Array
        };
      }

      createProduct(e){
        this.dispatchEvent(new CustomEvent("product-create", {
          detail: {
          }, 
          bubbles: true, 
          composed: true
        }));
      }

      productDetails(e){
        console.log("Selected product " + e.detail.row.id);
        this.dispatchEvent(new CustomEvent("product-select", {
          detail: {
            product: e.detail.row
          }, 
          bubbles: true, 
          composed: true
        }));
      }

      deleteProduct(e){
        console.log("Delete product " + e.detail.row.id);
        this.dispatchEvent(new CustomEvent("product-delete", {
          detail: {
            id: e.detail.row.id
          }, 
          bubbles: true, 
          composed: true
        }));
      }
    }

    window.customElements.define(ProductList.is, ProductList);
  </script>
</dom-module>