<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../accountCard.html">

<dom-module id="product-view">
<template>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <style>
    :host {
      display: block;
      padding: 15px;
    }
  </style>
  
  <form class="container" id="form-product">
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group">
          <span class="input-group-addon"><iron-icon icon="account-balance"></span>
          <input type="text" class="form-control" name="product" aria-describedby="nameHelp" placeholder="Nombre" value="{{selectedProduct.name::input}}" 
                 on-change="newChange">
        </div>
        <small id="nameHelp" class="form-text text-muted" align="left">Nombre</small>
      </div>
      <div class="form-group col-md-6">
        <div class="input-group">
          <input type="text" class="form-control" name="sn" aria-describedby="descHelp" placeholder="Descripción" value="{{selectedProduct.description::input}}" 
                 on-change="newChange">
        </div>
        <small id="descHelp" class="form-text text-muted" align="left">Descripción</small>
      </div>
    </div>
    <div class="form-row" style="display:none">
      <div class="form-group col-md-6">
        <div class="input-group">
          <input type="file" id="imageSelector" accept="image/*" on-change="imageChanged">
        </div>
        <small id="picHelp" class="form-text text-muted" align="left">Imagen del producto</small>
      </div>
    </div>
    <h5>Vista previa de una cuenta ficticia del producto. Haga click en ella para cambiar la imagen asociada</h5>
    <div class="col-4">
      <account-card account="[[account]]" on-clicked="changeImage"></account-card>
    </div>
    <div class="form-row justify-content-center form-group">
      <div hidden="{{hideError}}" class="col-sm-12">
        <small class="form-text text-danger">[[error]]</small>
      </div>
    </div>
  </form>
</template>

<script>
  class ProductView extends Polymer.Element {
    static get is() { return 'product-view'; }
    static get properties() {
      return {
        resetForm: {
          type: Boolean,
          observer: "resetFields"
        },
        selectedProduct: Object,
        error: {
          type: String,
          notify: true
        },
        account: {
          type: Object,
          computed: 'computeFakeAccount(selectedProduct)'
        },
        hideError:{
          type: Boolean,
          value: true
        }
      };
    }

    computeFakeAccount(product){
      return {id: 1, code: "9099090990909", alias: "Cuenta de prueba ficticia", url: product.url, balance: 12839.98}
    }

    changeImage(){
      var input = this.shadowRoot.querySelector('#imageSelector');
      input.click();
    }

    imageChanged(e){
      var file = e.target.files[0];
      if(file.size > 1024 * 1024){
        this.hideError = false;
        this.error = "Fichero demasiado largo. Sólo se permiten ficheros de menos de 1mb";
        return;
      }
      this.hideError = true;
      this.error = "";
      
      this.selectedProduct.newFileName = file.name;
      var reader = new FileReader();
      reader.onload = (function(t) { 
        return function(e) {
          t.selectedProduct.image = e.target.result;
          t.set("account.url", e.target.result);
        }; 
      })(this);
      reader.readAsDataURL(file);
      this.newChange()
    }

    newChange(){
      this.set("selectedProduct.changed", true);
    }

    resetFields(reset){
      if(reset){
        this.shadowRoot.querySelector('#form-product').reset();
        this.set("account.url", "");
      }
    }
  }

  window.customElements.define(ProductView.is, ProductView);
</script>
</dom-module>