<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/places-icons.html">
<link rel="import" href="../promotionCard.html">

<dom-module id="promotion-view">
<template>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <style>
    :host {
      display: block;
      padding: 15px;
    }
  </style>
  
  <form class="container" id="form-promotion">
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group">
          <span class="input-group-addon"><iron-icon icon="places:beach-access"></span>
          <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Nombre" value="{{selectedPromotion.name::input}}" 
                 on-change="newChange">
        </div>
        <small id="nameHelp" class="form-text text-muted" align="left">Nombre</small>
      </div>
      <div class="form-group col-md-6">
        <div class="input-group">
          <input type="text" class="form-control" aria-describedby="descHelp" placeholder="Descripción" value="{{selectedPromotion.description::input}}" 
                 on-change="newChange">
        </div>
        <small id="descHelp" class="form-text text-muted" align="left">Descripción</small>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group">
          <span class="input-group-addon"><iron-icon icon="store"></span>
          <input type="text" class="form-control" aria-describedby="merchantHelp" placeholder="Comercio" value="{{selectedPromotion.merchant::input}}" 
                 on-change="newChange">
        </div>
        <small id="merchantHelp" class="form-text text-muted" align="left">Comercio</small>
      </div>
      <div class="form-group col-md-6">
        <div class="input-group">
            <span class="input-group-addon">%</span>
          <input type="text" class="form-control" aria-describedby="descHelp" placeholder="Descuento" value="{{selectedPromotion.discount::input}}" 
                 on-change="newChange">
        </div>
        <small id="descHelp" class="form-text text-muted" align="left">Descuento</small>
      </div>
    </div>
    <div class="form-row" style="display:none">
      <div class="form-group col-md-6">
        <div class="input-group">
          <input type="file" id="imageSelector" accept="image/*" on-change="imageChanged">
        </div>
        <small id="picHelp" class="form-text text-muted" align="left">Imagen de la promoción</small>
      </div>
    </div>
    <h5>Vista previa de la promociónm. Haga click en ella para cambiar la imagen asociada</h5>
    <div class="col-6">
      <promotion-card promotion="[[promotion]]" on-clicked="changeImage" clickable="true"></account-card>
    </div>
    <div class="form-row justify-content-center form-group">
      <div hidden="{{hideError}}" class="col-sm-12">
        <small class="form-text text-danger">[[error]]</small>
      </div>
    </div>
  </form>
</template>

<script>
  class PromotionView extends Polymer.Element {
    static get is() { return 'promotion-view'; }
    static get properties() {
      return {
        resetForm: {
          type: Boolean,
          observer: "resetFields"
        },
        selectedPromotion: Object,
        error: {
          type: String,
          notify: true
        },
        promotion: {
          type: Object,
          computed: 'computePromotion(selectedPromotion)'
        },
        hideError:{
          type: Boolean,
          value: true
        }
      };
    }

    computePromotion(promo){
      return {id: 1, 
              name: promo.name, 
              description: promo.description,
              merchant: promo.merchant,
              discount: promo.discount, 
              url: promo.url}
    }

    changeImage(){
      var input = this.shadowRoot.querySelector('#imageSelector');
      input.click();
    }

    imageChanged(e){
      var file = e.target.files[0];
      if(file.size > 1024 * 1024){
        this.hideError = false;
        this.error = "Fichero demasiado largo. Sólo se permiten ficheros de menos de 1mb";
        return;
      }
      this.hideError = true;
      this.error = "";
      
      this.selectedPromotion.newFileName = file.name;
      var reader = new FileReader();
      reader.onload = (function(t) { 
        return function(e) {
          t.selectedPromotion.image = e.target.result;
          t.set("promotion.url", e.target.result);
        }; 
      })(this);
      reader.readAsDataURL(file);
      this.newChange()
    }

    newChange(){
      this.set("selectedPromotion.changed", true);
    }

    resetFields(reset){
      if(reset){
        this.shadowRoot.querySelector('#form-promotion').reset();
        this.set("promotion.url", "");
      }
    }
  }

  window.customElements.define(PromotionView.is, PromotionView);
</script>
</dom-module>