<link rel="import" href="../utils/tableList.html">

<dom-module id="promotion-list">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 5px;
      }
      
    </style>
    <div class="container">
      <table-list show-remove-button="true" columns="[[promotionColumns]]" content="[[promotions]]"
                  on-delete-row="deletePromotion" on-click-row="promotionDetails" on-create-row="createPromotion"
                  message="Promociones actuales"></table-list>
    </div>
  </template>

  <script>
    class PromotionList extends Polymer.Element {
      static get is() { return 'promotion-list'; }
      static get properties() {
        return {
          promotionColumns:{
            type: Array,
            value: [{name: "id", display: "#"},
                    {name: "name", display: "Nombre"},
                    {name: "description", display: "Descripción"},
                    {name: "merchant", display: "Comercio"},
                    {name: "discount", display: "Descuento"}]
          },
          promotions: Array
        };
      }

      createPromotion(e){
        this.dispatchEvent(new CustomEvent("promo-create", {
          detail: {
          }, 
          bubbles: true, 
          composed: true
        }));
      }

      promotionDetails(e){
        console.log("Selected promotion " + e.detail.row.id);
        this.dispatchEvent(new CustomEvent("promo-select", {
          detail: {
            promotion: e.detail.row
          }, 
          bubbles: true, 
          composed: true
        }));
      }

      deletePromotion(e){
        console.log("Delete promotion " + e.detail.row.id);
        this.dispatchEvent(new CustomEvent("promo-delete", {
          detail: {
            id: e.detail.row.id
          }, 
          bubbles: true, 
          composed: true
        }));
      }
    }

    window.customElements.define(PromotionList.is, PromotionList);
  </script>
</dom-module>