<link rel="import" href="../utils/tableList.html">

<dom-module id="user-list">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 5px;
      }
      
    </style>
    <div class="container">
      <table-list show-remove-button="true" columns="[[userColumns]]" content="[[users]]"
                  on-delete-row="deleteUser" on-click-row="userDetails" on-create-row="createUser"
                  message="Usuarios del banco"></table-list>
    </div>
  </template>

  <script>
    class UserList extends Polymer.Element {
      static get is() { return 'user-list'; }
      static get properties() {
        return {
          userColumns:{
            type: Array,
            value: [{name: "id", display: "#"},
                    {name: "user", display: "Usuario"},
                    {name: "name", display: "Nombre"},
                    {name: "surname", display: "Apellido"},
                    {name: "admin", display: "Administrador"}]
          },
          users: Array
        };
      }

      createUser(e){
        this.dispatchEvent(new CustomEvent("user-create", {
          detail: {
          }, 
          bubbles: true, 
          composed: true
        }));
      }

      userDetails(e){
        console.log("Selected user " + e.detail.row.id);
        this.dispatchEvent(new CustomEvent("user-select", {
          detail: {
            user: e.detail.row
          }, 
          bubbles: true, 
          composed: true
        }));
      }

      deleteUser(e){
        console.log("Delete user " + e.detail.row.id);
        this.dispatchEvent(new CustomEvent("user-delete", {
          detail: {
            id: e.detail.row.id
          }, 
          bubbles: true, 
          composed: true
        }));
      }
    }

    window.customElements.define(UserList.is, UserList);
  </script>
</dom-module>