<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../../bower_components/iron-collapse/iron-collapse.html">

<dom-module id="user-view">
<template>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <style>
    :host {
      display: block;
      padding: 15px;
    }
    .btn-custom {
      background-color: #1464A5;
      color: white;
    }
    .collapse-content {
      padding-top: 10px;
    }
  </style>
  
  <form class="container" id="form-user">
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group">
          <span class="input-group-addon"><iron-icon icon="social:person"></span>
          <input type="text" class="form-control" name="name" aria-describedby="nameHelp" placeholder="Nombre" value="{{selectedUser.name::input}}" 
                 on-change="newChange">
        </div>
        <small id="nameHelp" class="form-text text-muted" align="left">Nombre</small>
      </div>
      <div class="form-group col-md-6">
        <div class="input-group">
          <input type="text" class="form-control" name="sn" aria-describedby="snHelp" placeholder="Apellidos" value="{{selectedUser.surname::input}}" 
                 on-change="newChange">
        </div>
        <small id="snHelp" class="form-text text-muted" align="left">Apellidos</small>
      </div>
    </div>
    <div class="form-row form-group">
      <div class="col-md-12">
        <div class="input-group-sm input-group">
          <div class="input-group-addon">@</div>
          <input type="email" name="mail" class$="{{emailClass}}" aria-describedby="mailHelp" placeholder="pepe@correo.es" 
                 value="{{selectedUser.user::input}}" on-change="newChange">
        </div>
        <small id="mailHelp" class="form-text text-muted">Usuario (cuenta de correo que quiera asociar a su cuenta)</small>
        <div hidden="{{hideEmailTip}}">
          <small class="form-text text-danger">Email no válido. Introduzca un email válido</small>
        </div>
      </div>
    </div>
      <div class="form-row form-group">
        <div class="col-md-12">
          <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
            <input type="checkbox" class="custom-control-input" checked="{{selectedUser.admin::input}}" on-change="checkedChange">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Usuario administrador</span>
          </label>
        </div>
      </div>
      <table-list show-remove-button="true" columns="[[accountColumns]]" content="[[selectedUser.accounts]]"
                  on-delete-row="deleteAccount" on-click-row="accountDetails" on-create-row="createAccount" hide="[[hide]]"
                  message="Cuentas contratadas"></table-list>
      <button class="btn btn-custom btn-sm btn-block" on-click="togglePassword" hidden="[[hide]]">
        Cambiar Password <iron-icon icon="social:person-add"></iron-icon>
      </button>
    <iron-collapse id="passwordCollapse" class="collapse-content">
      <div class="form-row form-group">
        <div class="col-md-12">
          <div class="input-group-sm input-group">
            <div class="input-group-addon">***</div>
            <input type="password" name="password" class$="{{passwordClass}}" aria-describedby="passHelp" 
                   placeholder="Contraseña" value="{{selectedUser.password::input}}" on-change="newChange">
          </div>
          <small id="passHelp" class="form-text text-muted">Contraseña</small>          
        </div>
      </div>
      <div class="form-row form-group">
        <div class="col-sm-12">
          <div class="input-group-sm input-group">
            <div class="input-group-addon">***</div>
            <input type="password" name="passwordR" class$="{{passwordClass}}" aria-describedby="passRHelp" 
                   placeholder="Repita contraseña" value="{{selectedUser.passwordR::input}}" on-change="newChange">
          </div>
          <small id="passRHelp" class="form-text text-muted">Introduzca su contraseña de nuevo</small>
          <div hidden="{{hidePasswordTip}}">
            <small class="form-text text-danger">Las contraseñas no coinciden</small>
          </div>
        </div>
      </div>
    </iron-collapse>
    <div class="form-row justify-content-center form-group">
      <div hidden="{{hideError}}" class="col-sm-12">
        <small class="form-text text-danger">[[error]]</small>
      </div>
    </div>
  </form>
</template>

<script>
  class UserView extends Polymer.Element {
    static get is() { return 'user-view'; }
    static get properties() {
      return {
        validEmail: Boolean,
        hideEmailTip:{
          type: Boolean,
          value: true
        },
        hidePasswordTip:{
          type: Boolean,
          value: true
        },
        hideError:{
          type: Boolean,
          value: true
        },
        emailClass: {
          type: String,
          value: "form-control"
        },
        passwordClass: {
          type: String,
          value: "form-control"
        },
        resetForm: {
          type: Boolean,
          observer: "resetFields"
        },
        error: {
          typr: String,
          notify: true
        },
        selectedUser: {
          type: Object,
          notify: true,
          observer: "newSelected"
        },
        accountColumns:{
          type: Array,
          value: [{name: "id", display: "#"},
                  {name: "product_name", display: "Nombre"},
                  {name: "code", display: "Código"},
                  {name: "alias", display: "Alias"},
                  {name: "balance", display: "Balance"}]
        },
      };
    }

    newSelected(){
      if(this.selectedUser.new){
        this.hide = true;
        this.shadowRoot.querySelector('#passwordCollapse').show();
      }
      else{
        this.hide = false;
        this.shadowRoot.querySelector('#passwordCollapse').hide();
      }
      this.checkMail();
    }

    checkMail(){
      if(this.selectedUser.user){
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if(re.test(this.selectedUser.user)){
          this.validEmail = true;
          this.hideEmailTip = true;
          this.emailClass = "form-control";
        }
        else{
          this.validEmail = false;
          this.hideEmailTip = false;
          this.emailClass = "form-control is-invalid"
          this.error = "Formato inválido de mail"
        }
      }
    }

    checkedChange(e){
      this.selectedUser.admin = e.target.checked;
      this.newChange();
    }

    newChange(){
      this.set("selectedUser.changed", true);
      this.checkMail();
      if(!this.selectedUser.password || this.selectedUser.password == this.selectedUser.passwordR){
        this.error = "";
      }
    }

    resetFields(reset){
      if(reset){
        this.shadowRoot.querySelector('#form-user').reset();
        this.hidePasswordTip = true;
        this.passwordClass = "form-control";
        this.shadowRoot.querySelector('#passwordCollapse').hide();
      }
    }

    togglePassword(){
      event.preventDefault();
      event.stopPropagation();
      this.shadowRoot.querySelector('#passwordCollapse').toggle();
    }

    accountDetails(e){
      console.log("Selected prod " + e.detail.row.id);
      this.dispatchEvent(new CustomEvent("account-select", {
        detail: {
          account: event.detail.row
        }, 
        bubbles: true, 
        composed: true
      }));
    }

    deleteAccount(e){
      console.log("Delete prod " + event.detail.row.id);
      this.dispatchEvent(new CustomEvent("account-delete", {
        detail: {
          id: e.detail.row.id
        }, 
        bubbles: true, 
        composed: true
      }));
    }

    createAccount(e){
      this.dispatchEvent(new CustomEvent("account-create", {
        detail: {
        }, 
        bubbles: true, 
        composed: true
      }));
    }
  }

  window.customElements.define(UserView.is, UserView);
</script>
</dom-module>