<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<dom-module id="account-card">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 3px;
      }
      .card-selected {
        padding: 10px;
        border-radius: .25rem;
        border: 2px solid #1464A5;
        background-color: white;
      }
      .card {
        padding: 10px;
      }
      .row_card {
        padding: 10px;
      }
      .card_element{
        cursor: pointer;
      }
      .clickable{
        cursor: pointer;
      }
      .icon{
        --iron-icon-height: 20px;
        --iron-icon-width: 20px;
        --iron-icon-color: green;
      }
      .btn-custom {
        background-color: #1464A5;
        color: white;
      }
    </style>
    
    <div id$="card-[[account.id]]" class="card card_element" on-click="accountClicked">
      <div class="row">
        <div class="col-4"><img src="[[account.url]]" height="65px" width="65px"></div>
        <div class="col-8">
          <div class="row">
            <div class="col-12" align="right">
              <template is="dom-if" if="{{checkSelected(account.selected, 1)}}">
                <div class="input-group input-group-sm">
                  <input id$="alias-[[account.id]]" type="text" value="[[account.alias]]" class="form-control text-size">
                  <span class="input-group-addon clickable" on-click="changeAlias"><iron-icon icon="icons:check" class="icon"></span>
                </div>
              </template>
              <template is="dom-if" if="{{checkSelected(account.selected, 2)}}">
                <span class="text-dark">[[account.alias]]</span>
              </template>
            </div>
          </div>
          <div class="row" align="right">
            <div class="col-12">
              <small class="text-secondary">[[account.code]]</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-5"></div>
        <div class="col-5" align="right">
          <span class$="[[formatClass(account.balance)]]">[[formatBalance(account.balance)]]</span>
        </div>
      </div>
    </div>
  </template>
  
  <script>
    class AccountCard extends Polymer.Element {
      static get is() { return 'account-card'; }
      static get properties(){
        return {
        }
      }

      ready(){
        super.ready();
        this.dispatchEvent(new CustomEvent("ready", {detail:{account: this.account, card: this}, bubbles: true, composed: true}));
      }

      checkSelected(selected, obj){
        if(selected){
          return obj == 1;
        }
        return obj == 2;
      }
      
      formatClass(balance){
        if(balance < 0){
          return "text-danger";
        }
        return "text-dark";
      }

      formatBalance(balance){
        var formatted = new Number(balance).toLocaleString("es-ES", {minimumFractionDigits: 2});
        return formatted.replace(/(\d)(?=(\d{3})+\,)/g, '$1.') + " €";   
      }

      changeAlias(e){
        var newAlias = this.shadowRoot.querySelector('#alias-' + this.account.id).value;
        if(newAlias !== this.account.alias){
          this.dispatchEvent(new CustomEvent("alias", {
            detail:{
              account: this.account,
              alias: newAlias
            },
            bubbles: true, 
            composed: true
          }));
        }
      }

      accountClicked(){
        if(this.account.selected){
          return;
        }
        this.dispatchEvent(new CustomEvent("clicked", {
          detail:{
            account: this.account
          },
          bubbles: true, 
          composed: true
        }));
      }

      focusInAccount(){
        var account = this.shadowRoot.querySelector("#card-" + this.account.id);
        account.classList.add('card-selected');
        account.classList.remove('card');
        this.set("account.selected", true);
      }

      focusOutAccount(){
        var account = this.shadowRoot.querySelector("#card-" + this.account.id);
        account.classList.remove('card-selected');
        account.classList.add('card');
        this.set("account.selected", false);
      }
    }
    window.customElements.define(AccountCard.is, AccountCard);
  </script>
</dom-module>