<link rel="import" href="../data/accounts.html">
<link rel="import" href="./accountCard.html">

<dom-module id="account-selector">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 3px;
      }
      .card-t {
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.9); 
        border: 1px solid rgba(0,0,0, 0.3); 
        border-radius: .25rem;
      }
      .row_card {
        padding: 10px;
      }
      .card_element{
        cursor: pointer;
      }
      .clickable{
        cursor: pointer;
      }
      .icon{
        --iron-icon-height: 20px;
        --iron-icon-width: 20px;
        --iron-icon-color: green;
      }
    </style>

    <div class="row">
      <div class="col-12">
        <div class="card-t " id="accountsMain">
            <div class="row">
                <template is="dom-repeat" items="{{accounts}}">
                  <div class="col-4">
                    <account-card id$="a-[[item.id]]" account="[[item]]" 
                                  on-alias="changeAlias" 
                                  on-clicked="accountClicked"
                                  on-ready="accountReady"></account-card>
                  </div>
                </template>
              </div>
        </div>
      </div>
    </div>
    
    <data-accounts send="[[send]]" 
                   on-finished="processResponse" 
                   account-id="[[id]]" 
                   alias="[[alias]]"></data-accounts>
  </template>
  
  <script>
    class AccountSelector extends Polymer.Element {
      static get is() { return 'account-selector'; }
      static get properties(){
        return {
          send:{
            type: Boolean,
            value: true
          },
          reset: {
            type: Boolean,
            observer: "resetChange"
          }
        }
      }

      resetChange(reset){
        if(reset){
          this.accounts = [];
          this.send = true;
        }
      }

      processResponse(e){
        this.send = false;
        if(e.detail.error){
          return;
        }
        if(e.detail.response.accounts){
          this.accounts = e.detail.response.accounts;
          this.accountSelected = this.accounts[0];
        }
        else{
          for(var i in this.accounts){
            if(this.accounts[i].id === this.accountSelected.id){
              this.set('accounts.'+i+'.alias', this.alias);
            }
          }
          this.dispatchEvent(new CustomEvent("alias", {
            detail:{
              alias: this.alias
            },
            bubbles: true, 
            composed: true
          }));
        }
      }

      changeAlias(e){
        var newAlias = e.detail.alias;
        if(newAlias !== this.accountSelected.alias){
          this.id = "/" + e.detail.account.id;
          this.alias = newAlias;
          this.send = true;
        }
      }

      accountReady(e){
        if(this.accountSelected && this.accountSelected.id == e.detail.account.id){
          this.accountClicked({detail: { account: e.detail.account, card: e.detail.card}})
        }
      }
      
      accountClicked(e){
        for(var i in this.accounts){
          if(this.accounts[i].id === e.detail.account.id){
            this.accountSelected = this.accounts[i];
            break;
          }
        }
        var card = this.shadowRoot.querySelector('#a-' + this.accountSelected.id);
        if(!card && e.detail.card){
          card = e.detail.card;
        }
        if(card){
          card.focusInAccount();
          if(this.current){
            this.current.focusOutAccount();
          }
          this.current = card;
          
          this.dispatchEvent(new CustomEvent("change", {
            detail:{
              account: e.detail.account
            },
            bubbles: true, 
            composed: true
          }));
        }
      }
    }
    window.customElements.define(AccountSelector.is, AccountSelector);
  </script>
</dom-module>