<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animations.html">

<link rel="import" href="./admin/promotionList.html">
<link rel="import" href="./admin/promotionView.html">
<link rel="import" href="./utils/breadcrumb.html">
<link rel="import" href="../data/admin.html">

<dom-module id="admin-promos">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 15px;
      }

      neon-animated-pages {
        height: 100%;
        @apply --layout-flex;
      }

      neon-animated-pages .iron-selected {
        position: static;
      }
      
      .btn-custom {
        background-color: #1464A5;
        color: white;
      }
    </style>
    <breadcrumb-nav id="breadcrumb" on-navigate-back="navigateBack" first="[[firstLevel]]" 
                      on-save-changes="saveChanges" save-disabled="[[saveDisabled]]"></breadcrumb-nav>
    <neon-animated-pages selected="{{selected}}" entry-animation="[[entry]]" exit-animation="[[exit]]" attr-for-selected="name">
      <promotion-list name="promotions" promotions="[[promotions]]" on-promo-select="selectPromo" on-promo-delete="delete" 
                    on-promo-create="createPromo"></promotion-list>
      <promotion-view name="promotionDetails" selected-promotion="{{promotion}}" error="{{error}}"></promotion-view>
    </neon-animated-pages>

    <data-admin on-finished="processResponse" send="[[send]]" body="[[body]]" method="[[method]]" entity-id="[[id]]" entity="promotions"></data-admin>
  </template>

  <script>
    class AdminPromotions extends Polymer.Element {
      static get is() { return 'admin-promos'; }
      static get properties() {
        return {
          send:{
            type: Boolean,
            value: true
          },
          firstLevel:{
            type: Object,
            value: {active: true, display: "Promociones", page: "promotions"}
          },
          selected: {
            type: String,
            value: "promotions"
          },
          saveDisabled:{
            type: Boolean,
            value: true
          },
          method:{
            type: String,
            value: "GET"
          },
          reload: {
            type: Boolean,
            observer: "reloadAll"
          },
          firstTime: {
            type: Boolean,
            value: true
          }
        };
      }

      static get observers() {
        return [
          'objectChange(promotion.changed, active)'
        ]
      }

      showModal(message){
        this.dispatchEvent(new CustomEvent("show-modal", {
          detail: {message: message},
          bubbles: true, 
          composed: true
        }));
      }

      reloadAll(){
        if(this.reload){
          if(this.firstTime){
            this.firstTime = false;
          }
          else{
            this.$.breadcrumb.goBackFirstLevel();
            this.method = "GET";
            this.id = "";
            this.send = true;
          }
        }
      }

      objectChange(promotion){
        if(promotion && this.active == 1){
          this.saveDisabled = false;
        }
        else{
          this.saveDisabled = true;
        }
      }

      navigateBack(e){
        this.entry = 'slide-from-left-animation';
        this.exit = 'slide-right-animation';
        this.selected = e.detail.page;
        this.active = e.detail.index;
        
        this.error = "";
        this.promotion = {url: '#'};
      }

      selectPromo(e){
        this.promotion = e.detail.promotion;
        this.active = 1;

        this.entry = 'slide-from-right-animation';
        this.exit = 'slide-left-animation';
        this.selected = "promotionDetails";

        this.$.breadcrumb.newItem(this.selected, "Promoción (" + this.promotion.name + ")");
      }

      createPromo(e){
        this.promotion = {new: "true", changed: "true", url: '#'};
        this.active = 1;
        
        this.entry = 'slide-from-right-animation';
        this.exit = 'slide-left-animation';
        this.selected = "promotionDetails";

        this.$.breadcrumb.newItem(this.selected, "Nueva Promoción");
      }

      processResponse(response) {
        this.send = false;
        if(!response.detail.success){
          this.showModal("Error en la petición: " + response.detail.error);
          return;
        }
        if(response.detail.method == "DELETE"){
          this.showModal("Promoción borrada!");
          var id = response.detail.entityId.substring(1);
          for(var i in this.promotions){
            if(this.promotions[i].id == id){
              this.splice("promotions", i, 1);
              break;
            }
          }
        }
        else if(response.detail.method == "GET"){
          this.promotions = response.detail.response.promotions;
        }
        else if(response.detail.method == "POST"){
          this.showModal("Promoción creada!");
          this.$.breadcrumb.goBackOneLevel();
          this.push("promotions", response.detail.response.promotion  );
        }
        else if(response.detail.method == "PUT"){
          this.showModal("Promoción modificada!");
          this.$.breadcrumb.goBackOneLevel();
          var id = response.detail.entityId.substring(1);
          for(var i in this.promotions){
            if(this.promotions[i].id == id){
              this.splice("promotions", i, 1, response.detail.response.promotion);
              break;
            }
          }
        }
      }

      delete(e){
        this.id = "/" + e.detail.id;
        this.method = "DELETE";
        this.send = true;
        this.body = undefined;
      }

      saveChanges(){
        if(this.error){
          return;
        }
        this.body = this.promotion;
        this.method = "PUT";
        this.id = "/" + this.body.id
        if(this.body.new){
          this.method = "POST";
          this.id = ""
        }
        this.send = true;
      }
    }

    window.customElements.define(AdminPromotions.is, AdminPromotions);
  </script>
</dom-module>