<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable.html">

<dom-module id="admin-page">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 30px;
        min-height: 650px;
        background: url("../../images/vela.jpg") no-repeat center center fixed;
      }
      .btn-custom {
        background-color: #1464A5;
        color: white;
      }
      iron-collapse{
        background-color: #ffffff;
        padding: 10px;
      }
      paper-tabs{
        --paper-tabs-selection-bar-color:#1464A5;
      }
      .background-t {
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.8); 
      }
    </style>
    
    <div class="background-t">
      <app-route route="[[route]]" pattern="/:tabName" data="{{data}}"></app-route>
      <div class="text-center">
        <h3>Administración</h3>
      </div>
      <paper-tabs selected='{{tabName}}' attr-for-selected='key' class="background-t">
        <paper-tab key='Users'>Usuarios</paper-tab>
        <paper-tab key='Products'>Productos</paper-tab>
        <paper-tab key='Categories'>Categorias</paper-tab>
        <paper-tab key='Promos'>Promociones</paper-tab>
      </paper-tabs>

      
      <iron-pages selected="[[tabName]]" attr-for-selected="name" fallback-selection="users" role="main" class="background-t">
        <admin-users name="Users" reload="[[reloadUsers]]"></admin-users>
        <admin-products name="Products" reload="[[reloadProds]]"></admin-products>
        <admin-categories name="Categories" reload="[[reloadCats]]"></admin-categories>
        <admin-promos name="Promos" reload="[[reloadPromos]]"></admin-promos>
      </iron-pages>
    </div>
  </template>

  <script>
    class AdminPage extends SessionStorageMixin(Polymer.Element) {
      static get is() { return 'admin-page'; }
      static get properties() {
        return {
          tabName: {
            type: String,
            reflectToAttribute: true,
            value: "Users",
            observer: 'tabChanged',
          },
          reloadUsers: Boolean,
          reloadProds: Boolean,
          reloadCats: Boolean,
          reloadPromos: Boolean,
        };
      }

      tabChanged(tab) {
        var resolvedPageUrl = this.resolveUrl('admin' + tab + 'View.html');
        Polymer.importHref(resolvedPageUrl, null, this.showDefault.bind(this), true);

        this.reloadUsers = false;
        this.reloadProds = false;
        this.reloadCats = false;
        this.reloadPromos = false;

        if(tab == "Users"){
          this.reloadUsers = true;
        }
        else if(tab == "Products"){
          this.reloadProds = true;
        }
        else if(tab == "Categories"){
          this.reloadCats = true;
        }
        else if(tab == "Promos"){
          this.reloadPromos = true;
        }
      }

      showDefault(){
        this.tabName = "";
      }
    }

    window.customElements.define(AdminPage.is, AdminPage);
  </script>
</dom-module>