<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animations.html">

<link rel="import" href="./admin/userList.html">
<link rel="import" href="./admin/userView.html">
<link rel="import" href="./admin/accountView.html">
<link rel="import" href="./admin/movementView.html">
<link rel="import" href="./utils/breadcrumb.html">
<link rel="import" href="../data/admin.html">
<link rel="import" href="../data/movements.html">
<link rel="import" href="../data/categories.html">


<dom-module id="admin-users">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 15px;
      }

      neon-animated-pages {
        height: 100%;
        @apply --layout-flex;
      }

      neon-animated-pages .iron-selected {
        position: static;
      }
 
    </style>

    <breadcrumb-nav id="breadcrumb" on-navigate-back="navigateBack" first="[[firstLevel]]" 
                      on-save-changes="saveChanges" save-disabled="[[saveDisabled]]"></breadcrumb-nav>

    <neon-animated-pages selected="{{selected}}" entry-animation="[[entry]]" exit-animation="[[exit]]" attr-for-selected="name">
      <user-list name="users" users="[[users]]" on-user-select="selectUser" on-user-delete="delete" on-user-create="createUser"></user-list>
      <user-view name="userDetails" on-account-select="selectAccount" on-account-delete="delete" on-account-create="createAccount" 
                 selected-user="{{user}}" error="{{error}}" hide-error="[[hideError]]"></user-view>
      <account-view name="accountDetails" on-mov-select="selectMov" on-mov-delete="delete" on-mov-create="createMov" 
                    selected-account="{{account}}" categories="[[categoriesDict]]" bank-products="[[bankProducts]]" 
                    error="{{error}}" hide-table="{{hideTable}}"></account-view>
      <movement-view name="movementDetails" selected-movement="{{movement}}" all-categories="[[movCategories]]" 
                     all-users="[[movUsers]]" error="{{error}}"></movement-view>
    </neon-animated-pages>
  
    <data-admin send="[[dataAdmin]]" on-finished="processDataAdmin" entity="[[entity]]" body="[[body]]" method="[[method]]" entity-id="[[id]]"></data-admin>
    <data-movements send="[[retrieveMovements]]" on-finished="processMovs" user="[[user.id]]" account=[[account.id]] size="100"></data-movements>
    <data-categories on-finished="processCats"></data-categories>

  </template>

  <script>
    class AdminUsers extends Polymer.Element {
      static get is() { return 'admin-users'; }
      static get properties() {
        return {
          method:{
            type: String,
            value: "GET"
          },
          dataAdmin:{
            value: Boolean,
            value: true
          },
          entity: {
            type: String,
            value: "users"
          },
          selected: {
            type: String,
            value: "users"
          },
          firstLevel:{
            type: Object,
            value: {active: true, display: "Usuarios", page: "users"}
          },
          saveDisabled:{
            type: Boolean,
            value: true
          },
          reload: {
            type: Boolean,
            observer: "reloadAll"
          },
          firstTime: {
            type: Boolean,
            value: true
          }
        };
      }

      showModal(message){
        this.dispatchEvent(new CustomEvent("show-modal", {
          detail: {message: message},
          bubbles: true, 
          composed: true
        }));
      }

      static get observers() {
        return [
          'objectChange(user.changed, account.changed, movement.changed, active)'
        ]
      }

      objectChange(user, account, movement){
        if(user && this.active == 1){
          this.saveDisabled = false;
        }
        else if(account && this.active == 2){
          this.saveDisabled = false;
        }
        else if(movement && this.active == 3){
          this.saveDisabled = false;
        }
        else{
          this.saveDisabled = true;
        }
      }

      reloadAll(){
        if(this.reload){
          if(this.firstTime){
            this.firstTime = false;
          }
          else{
            this.$.breadcrumb.goBackFirstLevel();
            this.method = "GET";
            this.id = "";
            this.entity = "users";
            this.dataAdmin = true;
          }
        }
      }

      navigateBack(e){
        this.entry = 'slide-from-left-animation';
        this.exit = 'slide-right-animation';
        this.selected = e.detail.page;
        this.active = e.detail.index;
        
        this.error = "";
        this.movement = {};
        this.movUsers = [];
        this.movCategories = {};
        switch(e.detail.index){
          case 0:
            this.user = {};
            this.bankProducts = [];
          case 1:
            this.account = {};
            this.hideTable = true;
            break;
        }
      }

      selectUser(e){
        this.user = e.detail.user;
        this.active = 1;

        this.entry = 'slide-from-right-animation';
        this.exit = 'slide-left-animation';
        this.selected = "userDetails";

        this.$.breadcrumb.newItem(this.selected, "Usuario (" + this.user.user + ")");
      }

      createUser(e){
        this.user = {new: "true", changed: "true", admin: false};
        this.active = 1;
        
        this.entry = 'slide-from-right-animation';
        this.exit = 'slide-left-animation';
        this.selected = "userDetails";

        this.$.breadcrumb.newItem(this.selected, "Nuevo Usuario");
      }

      selectAccount(e){
        this.bankProducts = this.products;
        this.account = e.detail.account;
        this.active = 2;
        this.error = "";

        if(!this.account.movementsRetieved){
          this.retrieveMovements = true;
        }

        this.entry = 'slide-from-right-animation';
        this.exit = 'slide-left-animation';
        this.selected = "accountDetails";

        this.$.breadcrumb.newItem(this.selected, "Cuenta (" + this.account.code + ")");
      }

      createAccount(e){
        this.bankProducts = this.products;
        this.account = {user: this.user.id,
                        new: "true", changed: "true"};
        this.active = 2;
        this.error = "";
        

        this.entry = 'slide-from-right-animation';
        this.exit = 'slide-left-animation';
        this.selected = "accountDetails";

        this.$.breadcrumb.newItem(this.selected, "Nueva Cuenta");
      }

      selectMov(e){
        this.movUsers = this.users;
        this.movCategories = this.categories;
        this.movement = e.detail.movement;
        this.active = 3;
        this.error = "";        

        this.entry = 'slide-from-right-animation';
        this.exit = 'slide-left-animation';
        this.selected = "movementDetails";

        this.$.breadcrumb.newItem(this.selected, "Movimiento (" + this.movement._id.$oid + ")");
      }

      createMov(e){
        this.movUsers = this.users;
        this.movCategories = this.categories;
        this.movement = {user: "" + this.user.id,
                         account: "" + this.account.id,
                         type: "-1",
                         category: "-1",
                         new: "true", changed: "true"};
        this.active = 3;
        this.error = "";        
        
        this.entry = 'slide-from-right-animation';
        this.exit = 'slide-left-animation';
        this.selected = "movementDetails";

        this.$.breadcrumb.newItem(this.selected, "Nuevo Movimiento");
      }

      processDataAdmin(response) {
        this.dataAdmin = false;
        if(!response.detail.success){
          this.showModal("Error en la petición: " + response.detail.error);
          return;
        }
        if(response.detail.entity == "users"){
          if(response.detail.method == "DELETE"){
            this.showModal("Usuario borrado!");
            var id = parseInt(response.detail.entityId.substring(1));
            for(var i in this.users){
              if(this.users[i].id == id){
                this.splice("users", i, 1);
                break;
              }
            }
          }
          else if(response.detail.method == "GET"){
            this.users = response.detail.response.users;
            this.entity = "products"
            this.dataAdmin = true;
          }
          else if(response.detail.method == "POST"){
            this.showModal("Usuario creado!");
            this.$.breadcrumb.goBackOneLevel();
            this.push("users", response.detail.response.user);
          }
          else if(response.detail.method == "PUT"){
            this.showModal("Usuario modificado!");
            this.$.breadcrumb.goBackOneLevel();
            var id = parseInt(response.detail.entityId.substring(1));
            for(var i in this.users){
              if(this.users[i].id == id){
                this.splice("users", i, 1, response.detail.response.user);
                break;
              }
            }
          }
        }
        else if(response.detail.entity == "accounts"){
          if(response.detail.method == "PUT"){
            this.showModal("Cuenta modificada!");
            this.$.breadcrumb.goBackOneLevel();
            var id = parseInt(response.detail.entityId.substring(1));
            for(var i in this.user.accounts){
              if(this.user.accounts[i].id == id){
                this.splice("user.accounts", i, 1, response.detail.response.account);
                break;
              }
            }
          } else if(response.detail.method == "POST"){
            this.showModal("Cuenta creada!");
            this.$.breadcrumb.goBackOneLevel();
            this.push("user.accounts", response.detail.response.account);
          }
          else if(response.detail.method == "DELETE"){
            this.showModal("Cuenta borrada!");
            var id = parseInt(response.detail.entityId.substring(1));
            for(var i in this.user.accounts){
              if(this.user.accounts[i].id == id){
                this.splice("user.accounts", i, 1);
                break;
              }
            }
          }
        }
        else if(response.detail.entity == "movements"){
          if(response.detail.method == "PUT"){
            this.showModal("Movimiento modificado!");
            this.$.breadcrumb.goBackOneLevel();
            var id = response.detail.entityId.substring(1);
            var id = response.detail.entityId.substring(1);
            response.detail.response.id = id;
            if(response.detail.response.user == this.user.id && 
               response.detail.response.account == this.account.id){
                this.splice("account.movements", i, 1, response.detail.response);
            }
            else{
              for(var i in this.account.movements){
                if(this.account.movements[i].id == id){
                  this.splice("account.movements", i, 1);
                  break;
                }
              }
              var index = -1;
              for(var i in this.users){
                if(this.users[i].id == response.detail.response.user){
                  index = i;
                  break;
                }
              }
              for(var i in this.users[index].accounts){
                if(this.users[index].accounts[i].id == response.detail.response.account){
                  if(this.users[index].accounts[i].movementsRetieved){
                    this.push("users." + index + ".accounts." + i + ".movements", response.detail.response);
                  }
                }
              }
            }
          } else if(response.detail.method == "POST"){
            this.showModal("Movimiento creado!");
            this.$.breadcrumb.goBackOneLevel();
            response.detail.response.id = response.detail.response._id.$oid;
            this.push("account.movements", response.detail.response);
          }
          else if(response.detail.method == "DELETE"){
            this.showModal("Movimiento eliminado!");
            var id = response.detail.entityId.substring(1);
            for(var i in this.account.movements){
              if(this.account.movements[i].id == id){
                this.splice("account.movements", i, 1);
                break;
              }
            }
          }
        }
        else if(response.detail.entity == "products"){
          this.products = response.detail.response.products;
        }
      }

      processMovs(response){
        this.retrieveMovements = false;
        this.account.movementsRetieved = true;
        this.set("account.movements", response.detail.movements);
      }

      processCats(response){
        this.categories = response.detail.categories;
        this.categoriesDict = {};
        for(var i in this.categories){
          this.categoriesDict[this.categories[i].id] = this.categories[i].name;
        }
      }

      delete(e){
        switch(this.selected){
          case "users":
            this.entity = "users";
            break;
          case "userDetails":
            this.entity = "accounts";
            break;
          case "accountDetails":
            this.entity = "movements";
            break;
        }
        this.id = "/" + e.detail.id;
        this.method = "DELETE";
        this.dataAdmin = true;
        this.body = undefined;
      }

      saveChanges(){
        if(this.error){
          return;
        }
        switch(this.selected){
          case "userDetails":
            this.entity = "users";
            this.body = this.user;
            break;
          case "accountDetails":
            this.entity = "accounts";
            this.body = this.account;
            break;
          case "movementDetails":
            this.entity = "movements";
            this.body = this.movement;
            break;
        }
        this.method = "PUT";
        this.id = "/" + this.body.id
        if(this.body.new){
          this.method = "POST";
          this.id = ""
        }
        this.dataAdmin = true;
      }
    }

    window.customElements.define(AdminUsers.is, AdminUsers);
  </script>
</dom-module>