<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animations.html">

<link rel="import" href="./admin/productList.html">
<link rel="import" href="./admin/productView.html">
<link rel="import" href="./utils/breadcrumb.html">
<link rel="import" href="../data/admin.html">

<dom-module id="admin-products">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 15px;
      }

      neon-animated-pages {
        height: 100%;
        @apply --layout-flex;
      }

      neon-animated-pages .iron-selected {
        position: static;
      }
      
      .btn-custom {
        background-color: #1464A5;
        color: white;
      }
    </style>
    <breadcrumb-nav id="breadcrumb" on-navigate-back="navigateBack" first="[[firstLevel]]" 
                      on-save-changes="saveChanges" save-disabled="[[saveDisabled]]"></breadcrumb-nav>
    <neon-animated-pages selected="{{selected}}" entry-animation="[[entry]]" exit-animation="[[exit]]" attr-for-selected="name">
      <product-list name="products" products="[[products]]" on-product-select="selectProduct" on-product-delete="delete" 
                    on-product-create="createProduct"></product-list>
      <product-view name="productDetails" selected-product="{{product}}" error="{{error}}"></product-view>
    </neon-animated-pages>

    <data-admin on-finished="processResponse" send="[[send]]" body="[[body]]" method="[[method]]" entity-id="[[id]]" entity="products"></data-admin>
  </template>

  <script>
    class AdminProducts extends Polymer.Element {
      static get is() { return 'admin-products'; }
      static get properties() {
        return {
          send:{
            type: Boolean,
            value: true
          },
          firstLevel:{
            type: Object,
            value: {active: true, display: "Productos", page: "products"}
          },
          selected: {
            type: String,
            value: "products"
          },
          saveDisabled:{
            type: Boolean,
            value: true
          },
          method:{
            type: String,
            value: "GET"
          },
          reload: {
            type: Boolean,
            observer: "reloadAll"
          },
          firstTime: {
            type: Boolean,
            value: true
          }
        };
      }
      static get observers() {
        return [
          'objectChange(product.changed, active)'
        ]
      }

      reloadAll(){
        if(this.reload){
          if(this.firstTime){
            this.firstTime = false;
          }
          else{
            this.$.breadcrumb.goBackFirstLevel();
            this.method = "GET";
            this.id = "";
            this.send = true;
          }
        }
      }

      showModal(message){
        this.dispatchEvent(new CustomEvent("show-modal", {
          detail: {message: message},
          bubbles: true, 
          composed: true
        }));
      }

      objectChange(product){
        if(product && this.active == 1){
          this.saveDisabled = false;
        }
        else{
          this.saveDisabled = true;
        }
      }

      navigateBack(e){
        this.entry = 'slide-from-left-animation';
        this.exit = 'slide-right-animation';
        this.selected = e.detail.page;
        this.active = e.detail.index;
        
        this.error = "";
        this.product = {url: '#'};
      }

      selectProduct(e){
        this.product = e.detail.product;
        this.active = 1;

        this.entry = 'slide-from-right-animation';
        this.exit = 'slide-left-animation';
        this.selected = "productDetails";

        this.$.breadcrumb.newItem(this.selected, "Producto (" + this.product.name + ")");
      }

      createProduct(e){
        this.product = {new: "true", changed: "true", url: '#'};
        this.active = 1;
        
        this.entry = 'slide-from-right-animation';
        this.exit = 'slide-left-animation';
        this.selected = "productDetails";

        this.$.breadcrumb.newItem(this.selected, "Nuevo Producto");
      }

      processResponse(response) {
        this.send = false;
        if(!response.detail.success){
          this.showModal("Error en la petición: " + response.detail.error);
          return;
        }
        if(response.detail.method == "DELETE"){
          this.showModal("Producto borrado!");
          var id = parseInt(response.detail.entityId.substring(1));
          for(var i in this.products){
            if(this.products[i].id == id){
              this.splice("products", i, 1);
              break;
            }
          }
        }
        else if(response.detail.method == "GET"){
          this.products = response.detail.response.products;
        }
        else if(response.detail.method == "POST"){
          this.showModal("Producto creado!");
          this.$.breadcrumb.goBackOneLevel();
          this.push("products", response.detail.response.product  );
        }
        else if(response.detail.method == "PUT"){
          this.showModal("Producto modificado!");
          this.$.breadcrumb.goBackOneLevel();
          var id = parseInt(response.detail.entityId.substring(1));
          for(var i in this.products){
            if(this.products[i].id == id){
              this.splice("products", i, 1, response.detail.response.product);
              break;
            }
          }
        }
      }

      delete(e){
        this.id = "/" + e.detail.id;
        this.method = "DELETE";
        this.send = true;
        this.body = undefined;
      }

      saveChanges(){
        if(this.error){
          return;
        }
        this.body = this.product;
        this.method = "PUT";
        this.id = "/" + this.body.id
        if(this.body.new){
          this.method = "POST";
          this.id = ""
        }
        this.send = true;
      }
    }

    window.customElements.define(AdminProducts.is, AdminProducts);
  </script>
</dom-module>