<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animations.html">

<link rel="import" href="./admin/categoryList.html">
<link rel="import" href="./admin/categoryView.html">
<link rel="import" href="./utils/breadcrumb.html">
<link rel="import" href="../data/admin.html">

<dom-module id="admin-categories">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 15px;
      }

      neon-animated-pages {
        height: 100%;
        @apply --layout-flex;
      }

      neon-animated-pages .iron-selected {
        position: static;
      }
      
      .btn-custom {
        background-color: #1464A5;
        color: white;
      }
    </style>
    <breadcrumb-nav id="breadcrumb" on-navigate-back="navigateBack" first="[[firstLevel]]" 
                      on-save-changes="saveChanges" save-disabled="[[saveDisabled]]"></breadcrumb-nav>
    <neon-animated-pages selected="{{selected}}" entry-animation="[[entry]]" exit-animation="[[exit]]" attr-for-selected="name">
      <category-list name="categories" categories="[[categories]]" on-category-select="selectCategory" on-category-delete="delete" 
                    on-category-create="createCategory"></category-list>
      <category-view name="categoryDetails" selected-category="{{category}}" error="{{error}}"></category-view>
    </neon-animated-pages>

    <data-admin on-finished="processResponse" send="[[send]]" body="[[body]]" method="[[method]]" entity-id="[[id]]" entity="categories"></data-admin>
  </template>

  <script>
    class AdminCategories extends Polymer.Element {
      static get is() { return 'admin-categories'; }
      static get properties() {
        return {
          send:{
            type: Boolean,
            value: true
          },
          firstLevel:{
            type: Object,
            value: {active: true, display: "Categorías", page: "categories"}
          },
          selected: {
            type: String,
            value: "categories"
          },
          saveDisabled:{
            type: Boolean,
            value: true
          },
          method:{
            type: String,
            value: "GET"
          },
          reload: {
            type: Boolean,
            observer: "reloadAll"
          },
          firstTime: {
            type: Boolean,
            value: true
          }
        };
      }
      static get observers() {
        return [
          'objectChange(category.changed, active)'
        ]
      }

      reloadAll(){
        if(this.reload){
          if(this.firstTime){
            this.firstTime = false;
          }
          else{
            this.$.breadcrumb.goBackFirstLevel();
            this.method = "GET";
            this.id = "";
            this.send = true;
          }
        }
      }

      showModal(message){
        this.dispatchEvent(new CustomEvent("show-modal", {
          detail: {message: message},
          bubbles: true, 
          composed: true
        }));
      }

      objectChange(category){
        if(category && this.active == 1){
          this.saveDisabled = false;
        }
        else{
          this.saveDisabled = true;
        }
      }

      navigateBack(e){
        this.entry = 'slide-from-left-animation';
        this.exit = 'slide-right-animation';
        this.selected = e.detail.page;
        this.active = e.detail.index;
        
        this.error = "";
        this.category = {};
      }

      selectCategory(e){
        this.category = e.detail.category;
        this.active = 1;

        this.entry = 'slide-from-right-animation';
        this.exit = 'slide-left-animation';
        this.selected = "categoryDetails";

        this.$.breadcrumb.newItem(this.selected, "Categoría (" + this.category.name + ")");
      }

      createCategory(e){
        this.category = {new: "true", changed: "true"};
        this.active = 1;
        
        this.entry = 'slide-from-right-animation';
        this.exit = 'slide-left-animation';
        this.selected = "categoryDetails";

        this.$.breadcrumb.newItem(this.selected, "Nueva Categoría");
      }

      processResponse(response) {
        this.send = false;
        if(!response.detail.success){
          this.showModal("Error en la petición: " + response.detail.error);
          return;
        }
        if(response.detail.method == "DELETE"){
          this.showModal("Categoría borrada!");
          var id = parseInt(response.detail.entityId.substring(1));
          for(var i in this.categories){
            if(this.categories[i].id == id){
              this.splice("categories", i, 1);
              break;
            }
          }
        }
        else if(response.detail.method == "GET"){
          this.categories = response.detail.response.categories;
        }
        else if(response.detail.method == "POST"){
          this.showModal("Categoría creada!");
          this.$.breadcrumb.goBackOneLevel();
          this.push("categories", response.detail.response.category);
        }
        else if(response.detail.method == "PUT"){
          this.showModal("Categoría modificada!");
          this.$.breadcrumb.goBackOneLevel();
          var id = parseInt(response.detail.entityId.substring(1));
          for(var i in this.categories){
            if(this.categories[i].id == id){
              this.splice("categories", i, 1, response.detail.response.category);
              break;
            }
          }
        }
      }

      delete(e){
        this.id = "/" + e.detail.id;
        this.method = "DELETE";
        this.send = true;
        this.body = undefined;
      }

      saveChanges(){
        if(this.error){
          return;
        }
        this.body = this.category;
        this.method = "PUT";
        this.id = "/" + this.body.id
        if(this.body.new){
          this.method = "POST";
          this.id = ""
        }
        this.send = true;
      }
    }

    window.customElements.define(AdminCategories.is, AdminCategories);
  </script>
</dom-module>