<link rel="import" href="movementsView.html">
<link rel="import" href="accountSelector.html">

<dom-module id="global-pos">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 30px;
        min-height: 650px;
        background: url("../../images/vela.jpg") no-repeat center center fixed;
      }
      .background-t {
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.8); 
      }
    </style>
    
    <div class="container-fluid background-t">
      <div class="row">
        <div class="col-12" align="center">
            <h2>Bienvenido a su dinero, [[session.name]]</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <account-selector on-change="changeAccount" on-alias="changeAlias" reset="[[reset]]"></account-selector>
        </div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10" align="center">
          <movements-view account="[[account]]" alias="[[alias]]" reset="[[reset]]"></movements-view>
        </div>
      </div>
    </div>
  </div>
  </template>

  <script>
    class GlobalPosView extends SessionStorageMixin(Polymer.Element) {
      static get is() { return 'global-pos'; }
      static get properties(){
        return {
          reset: Boolean
        }
      }
      changeAccount(event){
        this.account = event.detail.account;
      }

      changeAlias(event){
        this.alias = event.detail.alias;
      }
    }

    window.customElements.define(GlobalPosView.is, GlobalPosView);
  </script>
</dom-module>
