<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">

<link rel="import" href="loginView.html">
<link rel="import" href="newUserView.html">
<link rel="import" href="weatherView.html">
<link rel="import" href="../data/createUser.html">

<dom-module id="landing-page">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 30px;
        min-height: 650px;
        background: url("../../images/vela.jpg") no-repeat center center fixed;
      }
      .btn-custom {
        background-color: #1464A5;
        color: white;
      }
      .top-modal{
        z-index: 10001;
      }
      iron-collapse{
        background-color: #ffffff;
        padding: 10px;
      }
      .collapse-content{
        background-color: rgba(255, 255, 255, 0.1); 
      }
      .background-t {
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.8); 
      }
    </style>
    
    <div class="container background-t">
      <div class="row">
        <div class="col-12" align="center">
          <h1>Bienvenido al TechU Bank</h1>
        </div>
      </div>
      <div class="row">
          <div class="col-2"></div>
          <div class="col-8">
            <weather-view></weather-view>
          </div>
        </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <techu-login></techu-login>
        </div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <div class="row"> 
            <div class="col-12">
              <button class="btn btn-custom btn-sm btn-block btn-outline-secondary" on-click="toggleNewUser">
                  Crear un nuevo usuario <iron-icon icon="social:person-add"></iron-icon>
              </button>
            </div>
          </div>
          <iron-collapse id="collapse" class="collapse-content">
            <new-user on-create="createNewUser" hide-error="[[hideError]]" 
                      create-error="[[createError]]" button-message="Crear" reset-form="[[resetForm]]"></new-user>
          </iron-collapse>
        </div>
      </div>
      <div class="row">
        <div class="col-12"><br></div>
      </div>
    </div>
    <create-user send=[[send]] on-finished="processResponse" body="[[body]]"></create-user>
  </template>

  <script>
    class LandingPage extends Polymer.Element {
      static get is() { return 'landing-page'; }
      static get properties(){
        return {
        }
      } 

      toggleNewUser(){
        this.$.collapse.toggle();
      }

      createNewUser(e){
        this.body = e.detail.user;
        this.send = true;
      }

      processResponse(response){
        this.send = false;
        if(event.detail.error){
          this.hideError = false;
          this.createError = event.detail.error;
        }
        else{
          this.dispatchEvent(new CustomEvent("show-modal", {detail: {message: "Usuario creado!"},bubbles: true, composed: true}));
          this.dispatchEvent(new CustomEvent("created", {bubbles: true, composed: true}));
          this.$.collapse.toggle();
          this.resetForm = true;
          this.hideError = true;
        }
      }
    }

    window.customElements.define(LandingPage.is, LandingPage);
  </script>
</dom-module>
