<link rel="import" href="../data/grantingTicket.html">

<dom-module id="techu-login">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding-bottom: 30px;
        /* background-color: #FFFFFF;  */
      }
      .btn-custom {
        background-color: #1464A5;
        color: white;
      }
    </style>
    
    <br>
    <form class="container" on-submit="login">
      <div class="row">
        <div class="col-sm-12">
          <h2>Introduzca sus credenciales</h2>
        </div>
      </div>
      <div class="form-row form-group">
        <div class="col-sm-12">
          <div class="input-group-sm input-group">
            <div class="input-group-addon">@</div>
            <input type="email" name="user" class$="{{emailClass}}" placeholder="pepe@correo.es" value="{{user::input}}" on-keyup="checkButton" on-change="checkMail">
          </div>
          <div hidden="{{hideEmailTip}}">
            <small class="form-text text-danger">Email no válido. Introduzca un email válido</small>
          </div>
        </div>
      </div>
      <div class="form-row form-group">
        <div class="col-sm-12">
          <div class="input-group-sm input-group">
            <div class="input-group-addon">***</div>
            <input type="password" name="password" class$="{{passwordClass}}" placeholder="Contraseña" value="{{password::input}}" on-keyup="checkButton">
          </div>
          <div hidden="{{hidePasswordTip}}">
            <small class="form-text text-danger">Login Incorrecto</small>
          </div>
        </div>
      </div>
      <div class="form-row justify-content-center form-group">
        <div class="col-sm-12">
          <button class$="{{buttonLoginClass}}" disabled$="{{buttonLoginDisabled}}">Acceder</button>
        </div>
      </div>
      <div class="form-row justify-content-center form-group">
        <div hidden="{{hideError}}" class="col-sm-12">
          <small class="form-text text-danger">[[loginError]]</small>
        </div>
      </div>
    </form>
    <data-gt send=[[send]] on-finished="processResponse" user="[[user]]" password="[[password]]"></data-gt>
  </template>

  <script>
    var buttonLoginClassCommon = "btn btn-block";

    class TechULogin extends SessionStorageMixin(Polymer.Element) {
      static get is() { return 'techu-login'; }
      static get properties() {
        return {
          validEmail:{
            type: Boolean,
            value: false
          },
          buttonLoginDisabled: {
            type: Boolean,
            value: true
          },
          buttonLoginClass: {
            type: String,
            value: buttonLoginClassCommon + " btn-outline-secondary"
          },
          hideEmailTip:{
            type: Boolean,
            value: true
          },
          hidePasswordTip:{
            type: Boolean,
            value: true
          },
          hideError:{
            type: Boolean,
            value: true
          },
          emailClass: {
            type: String,
            value: "form-control"
          },
          passwordClass: {
            type: String,
            value: "form-control"
          }
        };
      }

      ready(){
        super.ready();
        if(this.isValidSession()){
          this.dispatchEvent(new CustomEvent("login", {bubbles: true, composed: true}));
        }
      }

      processResponse(event){
        this.send = false;
        if(event.detail.error){
          this.hideError = false;
          this.loginError = event.detail.error;
        }
        else{
          this.dispatchEvent(new CustomEvent("login", {bubbles: true, composed: true}));
        }
      }

      checkButton(e){
        if(e && e.target.name === 'password'){
          this.passwordClass = "form-control";
        }
        if(this.user && this.password && this.validEmail){
          this.buttonLoginDisabled = false;
          this.buttonLoginClass = buttonLoginClassCommon + " btn-custom"
        }
        else{
          this.buttonLoginDisabled = true;
          this.buttonLoginClass = buttonLoginClassCommon + " btn-outline-secondary"
        }
      }

      checkMail(){
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if(re.test(this.user)){
          this.validEmail = true;
          this.hideEmailTip = true;
          this.emailClass = "form-control";
        }
        else{
          this.validEmail = false;
          this.hideEmailTip = false;
          this.emailClass = "form-control is-invalid"
        }
        this.checkButton();
      }

      login(event){
        event.preventDefault();
        event.stopPropagation();
        this.send = true;
      }
    }

    window.customElements.define(TechULogin.is, TechULogin);
  </script>
</dom-module>
