<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.js" crossorigin="anonymous"></script>

<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="searchCard.html">
<link rel="import" href="../data/movements.html">
<link rel="import" href="../data/categories.html">

<dom-module id="movements-view">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 30px;
        background-color: rgba(255, 255, 255, 0.9); 
        border: 2px solid rgba(0,0,0, 0.3); 
        border-radius: .25rem;
      }
      .white {
        background: white;
      }
      .card_pointer {
        cursor: pointer;
      }
      .row{
        padding: 1px;
      }
      paper-spinner-lite{
        --paper-spinner-color: #1464A5;
        --paper-spinner-stroke-width: 2px;
      } 
      .card-content {
        padding: 5px;
        border: 1px solid rgba(0,0,0, 0.3); 
        border-radius: .25rem;
      }
      .collapse-content {
        padding: 5px;
        border: 1px solid #dedede;
      }
      .btn-custom {
        background-color: #1464A5;
        color: white;
      }
      .separator{
        border-top: 1px solid #1464A5;
      }
      .medium{
        font-size: 90%;
        font-weight: 500;
      }
      .card-header { @apply --paper-font-headline; }
      .card-body{
        padding: 10px;
      }
      .orange{
        color: orange;
      }
      .text-size{
        width: 300px;
      }
      google-map {
        height: 200px;
        width: 200px;
      }
    </style>
    
    <div class="container">
      <div class="row">
        <div class="col-12" align="center">
          <template is="dom-if" if="[[movements]]">
            <h4>Aquí tiene sus últimos movimientos de la cuenta<p class="font-italic">[[alias]]</p></h4>
          </template>
        </div>
      </div>
      <div class="row" hidden="{{hideFirst}}"> 
        <div class="col-12">
          <button class="btn btn-custom btn-sm btn-block" on-click="toggleSearch">
              Buscar y filtrar <iron-icon icon="search"></iron-icon>
          </button>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12">
          <iron-collapse id="collapse" class="collapse-content">
            <search-card on-search="processFilter" on-reset="reset" 
                         account="[[account]]" reset-search=[[resetSearch]] categories="[[categories]]"></search-card>
          </iron-collapse>
        </div>
      </div>

      <hr class="separator"/>
      
      <div hidden="{{hideTable}}">
        <small class="form-text text-danger">[[error]]</small>
        <template is="dom-repeat" items="{{movements}}">
          <div class="row">
            <div class="col-12">
              <div class="card card_pointer" on-click="movementDetails">
                <div class="card-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-2 small text-secondary">[[formatDate(item.date)]]</div>
                      <div class="col-8 text-primary" align="left">
                        <div class="row">
                          <div class="col-12 medium">[[item.concept]]</div>
                        </div>
                        <div class="row">
                          <div class="col-12 small">[[item.detail]]</div>
                        </div>
                      </div>
                      <div class$="col-2 [[formatClass(item.type)]]" align="right">[[formatQuantity(item.quantity, item.type)]]</div>
                    </div>
                  </div>
                </div>
              </div>
              <iron-collapse id$="collapse[[index]]">
                <paper-card class="card">
                  <div class="card-content">
                    <div class="card-header" align="left">
                      <h4>[[item.concept]]</h4>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-1"></div>
                        <div class="col-9" align="left">
                          <h5>[[item.detail]]</h5>
                        </div>
                        <div class$="col-2 [[formatClass(item.type)]]" align="left">[[formatQuantity(item.quantity, item.type)]]</div>
                      </div>
                      <template is="dom-if" if="[[isCharge(item.type)]]">
                        <div class="row">
                          <div class="col-6">
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-11" align="left">Categoría: <span class="orange">[[formatCategory(item.category)]]</span></div>      
                            </div>
                            <div class="row">
                              <div class="col-1"></div>
                              <div class="col-11" align="left">Comercio: [[item.merchant]]</div>
                            </div>
                            <div class="row">
                              <div class="col-2"></div>
                              <div class="col-10" align="left">
                                  <div class="row">
                                    <div class="col-12">[[item.address]]</div>
                                  </div>
                                  <div class="row">
                                    <div class="col-12">[[item.ZIP]] - [[item.city]]</div>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-6" id$="map[[index]]">
                            <google-map fit-to-markers latitude="[[item.location.lat]]" longitude="[[item.location.lng]]" 
                            api-key="[[gMapsKey]]" disableDefaultUi="true"
                            disableMapTypeControl="true" disableStreetViewControl="true"
                            disableZoom="true" zoom=17>
                                <google-map-marker latitude="[[item.location.lat]]" longitude="[[item.location.lng]]"
                                draggable="false" ></google-map-marker>
                            </google-map>
                          </div>
                        </div>
                      </template>
                    </div>
                  </div>
                </paper-card>
              </iron-collapse>
            </div>
          </div>
        </template>
        <template is="dom-if" if="[[showMoreButton]]">
          <div class="row">
            <div class="col-12">
              <button class="btn btn-custom btn-sm btn-block" on-click="moreMovements">
                  Mostrar más movimientos <iron-icon icon="add"></iron-icon>
              </button>
            </div>
          </div>
        </template>
      </div>
      <div class="row">
        <div class=" col-12" align="center">
          <paper-spinner-lite active hidden="{{hideSpinner}}"></paper-spinner-lite>
        </div>
      </div>
    </div>
    
    <data-movements send="[[send]]" 
                    on-finished="processResponse" 
                    account=[[account.id]]
                    params="[[params]]"
                    page=[[page]]></data-movements>
    <data-categories on-finished="processCategories"></data-categories>
  </template>

  <script>
    class MovementsView extends Polymer.Element {
      static get is() { return 'movements-view'; }
      static get properties(){
        return {
          movements: {
            type: Array,
            value: []
          },
          hideTable: {
            type: Boolean,
            value: false
          },
          hideSpinner: {
            type: Boolean,
            value: true
          },
          send:{
            type: Boolean,
            value: false
          },
          hideFirst:{
            type: Boolean,
            value: true
          },
          gMapsKey:{
            type: String,
            value: "AIzaSyDT0niPcpR6g1fmW_txbM5VrIX0AuCt5Yc"
          },
          account:{
            type: Object,
            observer: "accountChanged"
          },
          alias:{
            type: String,
            observer: "changeAlias"
          },
          categories: Array,
          showMoreButton:{
            type: Boolean,
            value: false
          },
          page:{
            type: Number,
            value: 0
          },
          reset: {
            type: Boolean,
            observer: "resetChange"
          }
        }
      }

      resetChange(reset){
        if(reset){
          this.movements = [];
        }
      }
      
      
      accountChanged(){
        this.movements = [];
        this.page = 0;
        this.alias = this.account.alias;
        this.hideTable = true;
        this.hideSpinner = false;
        this.send = true;
        this.resetSearch = true;
        this.$.collapse.hide();
      }

      changeAlias(){
        this.account.alias = this.alias;
      }

      processResponse(event){
        this.send = false;
        this.processMovements(event);
      }

      processFilter(event){
        this.movements = [];
        this.page = 0;  
        this.hideTable = true;
        this.hideSpinner = false;
        this.params = event.detail;
        this.send = true;
      }

      reset(){
        this.params = "";
        this.movements = [];
        this.hideTable = true;
        this.hideSpinner = false;
        this.send = true;
        this.$.collapse.hide();
      }

      processMovements(event){
        this.hideFirst = false;
        this.searching = false;
        this.resetSearch = false;
        if(event.detail.error){
          this.movements = [];
          this.hideTable = false;
          this.hideSpinner = true;
          this.error = event.detail.error;
        }
        else{
          if((event.detail.page * event.detail.pageSize) + event.detail.count < event.detail.totalCount){
            this.showMoreButton = true;
          }
          else{
            this.showMoreButton = false;
          }
          this.error = "";
          for(var i in event.detail.movements){
            this.push("movements", event.detail.movements[i]);
          }
          this.hideTable = false;
          this.hideSpinner = true;
        }
      }

      moreMovements(){
        this.page++;
        this.send = true;
        this.hideSpinner = false;
        this.showMoreButton = false;
      }

      processCategories(event){
        this.categories = event.detail.categories;
        this.categoriesDict = {};
        for(var i in this.categories){
          this.categoriesDict[this.categories[i].id] = this.categories[i].name;
        }
      }

      changeMovements(){
        this.hideTable = false;
        this.hideSpinner = true;
      }

      isCharge(type){
        return type > 0;
      }

      toggleSearch(){
        this.$.collapse.toggle();
      }

      formatDate(date){
        var d = new Date(date.$date);
        let monthNames = [
          'ENE', 'FEB', 'MAR',
          'ABR', 'MAY', 'JUN', 'JUL',
          'AGO', 'SEP', 'OCT',
          'NOV', 'DIC'
        ];

        return d.getDate() + " " + monthNames[d.getMonth()]  + " " + d.getFullYear();
      }

      formatClass(type){
        if(type == 0){
          return "text-dark";
        }
        return "text-danger";
      }

      formatQuantity(quantity, type){
        var formatted = new Number(quantity).toLocaleString("es-ES", {minimumFractionDigits: 2});
        return (type==0?"" : "-") +formatted.replace(/(\d)(?=(\d{3})+\,)/g, '$1.') + " €";   
      }

      formatCategory(category){
        return this.categoriesDict[category];
      }

      movementDetails(e){
        var id = e.model.index;
        var collapse = this.shadowRoot.querySelector('#collapse'+id);

        collapse.toggle();
      }
    }

    window.customElements.define(MovementsView.is, MovementsView);
  </script>
</dom-module>
