<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">

<dom-module id="new-user">
<template>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <style>
    :host {
      display: block;
      padding: 5px;
      background-color: rgba(255, 255, 255, 0.1); 
    }
    .btn-custom {
      background-color: #1464A5;
      color: white;
    }
  </style>
  
  <form class="container" on-submit="createUser" id="form-new-user">
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group">
          <span class="input-group-addon"><iron-icon icon="social:person"></span>
          <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Nombre" value="{{name::input}}" on-keyup="checkButton">
        </div>
        <small id="nameHelp" class="form-text text-muted" align="left">Introduzca su nombre</small>
      </div>
      <div class="form-group col-md-6">
        <div class="input-group">
          <input type="text" class="form-control" id="sn" aria-describedby="snHelp" placeholder="Apellidos" value="{{sn::input}}" on-keyup="checkButton">
        </div>
        <small id="snHelp" class="form-text text-muted" align="left">Introduzca sus apellidos</small>
      </div>
    </div>
    <div class="form-row form-group">
      <div class="col-md-12">
        <div class="input-group-sm input-group">
          <div class="input-group-addon">@</div>
          <input type="email" name="user" class$="{{emailClass}}" aria-describedby="mailHelp" placeholder="pepe@correo.es" value="{{user::input}}" on-keyup="checkButton" on-change="checkMail">
        </div>
        <small id="mailHelp" class="form-text text-muted">Usuario (cuenta de correo que quiera asociar a su cuenta)</small>
        <div hidden="{{hideEmailTip}}">
          <small class="form-text text-danger">Email no válido. Introduzca un email válido</small>
        </div>
      </div>
    </div>
    <div class="form-row form-group">
      <div class="col-md-12">
        <div class="input-group-sm input-group">
          <div class="input-group-addon">***</div>
          <input type="password" name="password" class$="{{passwordClass}}" aria-describedby="passHelp" placeholder="Contraseña" value="{{password::input}}" on-keyup="checkButton">
        </div>
        <small id="passHelp" class="form-text text-muted">Contraseña</small>          
      </div>
    </div>
    <div class="form-row form-group">
      <div class="col-sm-12">
        <div class="input-group-sm input-group">
          <div class="input-group-addon">***</div>
          <input type="password" name="passwordR" class$="{{passwordClass}}" aria-describedby="passRHelp" placeholder="Repita contraseña" value="{{passwordR::input}}" on-keyup="checkButton">
        </div>
        <small id="passRHelp" class="form-text text-muted">Introduzca su contraseña de nuevo</small>
        <div hidden="{{hidePasswordTip}}">
          <small class="form-text text-danger">Las contraseñas no coinciden</small>
        </div>
      </div>
    </div>      
    <div class="form-row justify-content-center form-group">
      <div hidden="{{hideError}}" class="col-sm-12">
        <small class="form-text text-danger">[[createError]]</small>
      </div>
    </div>
    <div class="form-row justify-content-center form-group">
      <div class="col-sm-12">
        <button class$="{{buttonClass}}" disabled$="{{buttonDisabled}}">Crear Usuario</button>
      </div>
    </div>
  </form>
</template>

<script>
  var buttonClassCommon = "btn btn-block";

  class NewUser extends Polymer.Element {
    static get is() { return 'new-user'; }
    static get properties() {
      return {
        validEmail: Boolean,
        buttonDisabled: Boolean,
        buttonClass: {
          type: String,
          value: buttonClassCommon + " btn-outline-secondary"
        },
        hideEmailTip:{
          type: Boolean,
          value: true
        },
        hidePasswordTip:{
          type: Boolean,
          value: true
        },
        hideError:{
          type: Boolean,
          value: true
        },
        emailClass: {
          type: String,
          value: "form-control"
        },
        passwordClass: {
          type: String,
          value: "form-control"
        },
        resetForm: {
          type: Boolean,
          observer: "resetFields"
        },
        createError: String,
      };
    }

    checkButton(e){
      if(e && (e.target.name === 'password' || e.target.name === 'passwordR')){
        this.hidePasswordTip = true;
        this.passwordClass = "form-control";
      }

      if(this.user && this.validEmail && this.name && this.sn && this.password && this.passwordR){
        this.buttonDisabled = false;
        this.buttonClass = buttonClassCommon + " btn-custom";
        return;
      }
      this.buttonDisabled = true;
      this.buttonClass = buttonClassCommon + " btn-outline-secondary"     
    }

    checkMail(){
      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      if(re.test(this.user)){
        this.validEmail = true;
        this.hideEmailTip = true;
        this.emailClass = "form-control";
      }
      else{
        this.validEmail = false;
        this.hideEmailTip = false;
        this.emailClass = "form-control is-invalid"
      }
      this.checkButton();
    }

    resetFields(reset){
      if(reset){
        this.shadowRoot.querySelector('#form-new-user').reset();
        this.buttonDisabled = true;
        this.hidePasswordTip = true;
        this.passwordClass = "form-control";
        this.buttonClass = buttonClassCommon + " btn-outline-secondary";
      }
    }

    createUser(event){
      event.preventDefault();
      event.stopPropagation();
      if(this.password != this.passwordR){
        this.hidePasswordTip = false;
        this.passwordClass = "form-control is-invalid"
      }
      else{
        var user = {
          "user": this.user, 
          "password": this.password, 
          "passwordR": this.passwordR, 
          "name": this.name,
          "surname": this.sn,
        };
        this.dispatchEvent(new CustomEvent("create", {
          detail: {
            user: user
          }, 
          bubbles: true, 
          composed: true
        }));
      }
    }
  }

  window.customElements.define(NewUser.is,NewUser);
</script>
</dom-module>