<link rel="import" href="../data/accounts.html">
<link rel="import" href="../data/transfer.html">

<dom-module id="operation-view">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 30px;
        min-height: 650px;
        background: url("../../images/vela.jpg") no-repeat center center fixed;
      }
      .background-t {
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.8); 
      }
      .btn-custom {
        background-color: #1464A5;
        color: white;
      }
    </style>
    <form id="form-transfer" on-submit="processTransfer">
      <div class="container background-t">
        <div class="row">
          <div class="col-12" align="center">
            <h3>Ordenar una transferencia/traspaso</h3>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <div class="input-group">
              <span class="input-group-addon"><iron-icon icon="account-balance"></span>
              <select class="custom-select" id="from" value="{{transfer.from::input}}" aria-describedby="fromHelp" disabled$="[[disable]]" on-change="newChange">
                <option value="-1" selected>Seleccione la cuenta Origen para realizar la operación ...</option>
                <template is="dom-repeat" items="[[accounts]]" >
                  <option value="{{item.id}}">{{item.alias}}</option>
                </template>
              </select>
            </div>
            <small id="fromHelp" class="form-text text-muted" align="left">Cuenta origen de la operación</small>
          </div>
          <div class="form-group col-md-6">
            <div class="input-group">
              <span class="input-group-addon"><iron-icon icon="code"></span>
              <input type="text" class="form-control" aria-describedby="toHelp" value="{{transfer.to::input}}" on-change="newChange" placeholder="Cuenta destino">
            </div>
            <small id="toHelp" class="form-text text-muted" align="left">Cuenta destino de la operación</small>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <div class="input-group">
              <span class="input-group-addon"><iron-icon icon="euro-symbol"></span>
              <input type="number" class="form-control" aria-describedby="qHelp" value="{{transfer.quantity::input}}" on-change="newChange" placeholder="Importe"  step=".01">
            </div>
            <small id="qHelp" class="form-text text-muted" align="left">Importe de la operación</small>
          </div>
          <div class="form-group col-md-6">
            <div class="input-group">
              <span class="input-group-addon"><iron-icon icon="text-format"></span>
              <input type="text" class="form-control" aria-describedby="cHelp" value="{{transfer.concept::input}}" on-change="newChange" placeholder="Concepto">
            </div>
            <small id="cHelp" class="form-text text-muted" align="left">Concepto de la operación</small>
          </div>
        </div>
        <div class="form-row justify-content-center form-group">
          <div class="col-sm-12">
            <button class$="{{buttonClass}}" disabled$="{{buttonDisabled}}">Transferir</button>
          </div>
        </div>
      </div>
    </form>
    
    <data-accounts send="[[getAccounts]]" on-finished="processAccounts"></data-accounts>
    <data-transfer send="[[makeTransfer]]" on-finished="processResponse" transfer="[[transfer]]"></data-transfer>
  </template>
  
  <script>
    var buttonClassCommon = "btn btn-block";

    class OperationView extends Polymer.Element {
      static get is() { return 'operation-view'; }
      static get properties(){
        return {
          getAccounts:{
            type: Boolean,
            value: true
          },
          makeTransfer:{
            type: Boolean,
            value: false
          },
          buttonDisabled: {
            type: Boolean,
            value: true
          },
          buttonClass: {
            type: String,
            value: buttonClassCommon + " btn-outline-secondary"
          },
          transfer: {
            typr: Object,
            value: {from: -1}
          }
        }
      }

      newChange(){
        if(this.transfer.from != -1 && this.transfer.to && this.transfer.quantity && this.transfer.concept){
          this.buttonDisabled = false;
          this.buttonClass = buttonClassCommon + " btn-custom"
        }
        else{
          this.buttonDisabled = true;
          this.buttonClass = buttonClassCommon + " btn-outline-secondary"
        }
      }

      processTransfer(event){
        event.preventDefault();
        event.stopPropagation();
        this.makeTransfer = true;
      }

      processAccounts(e){
        this.getAccounts = false;
        if(e.detail.error){
          return;
        }
        if(e.detail.response.accounts){
          this.accounts = e.detail.response.accounts;
        }
      }

      processResponse(e){
        this.makeTransfer = false;
        if(e.detail.error){
          var message = "Error en la transferencia! " + e.detail.error;
          this.dispatchEvent(new CustomEvent("show-modal", {detail: {message: message},bubbles: true, composed: true}));
        }
        else{
          this.dispatchEvent(new CustomEvent("show-modal", {detail: {message: "Transferencia realizada!"},bubbles: true, composed: true}));
          this.shadowRoot.querySelector('#form-transfer').reset();
          this.buttonDisabled = true;
          this.buttonClass = buttonClassCommon + " btn-outline-secondary"
        }
      }
    }
    window.customElements.define(OperationView.is, OperationView);
  </script>
</dom-module>