<link rel="import" href="../data/promotions.html">
<link rel="import" href="./promotionCard.html">

<dom-module id="promotions-view">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 30px;
        min-height: 650px;
        background: url("../../images/vela.jpg") no-repeat center center fixed;
      }
      .card-t {
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.9); 
        border: 1px solid rgba(0,0,0, 0.3); 
        border-radius: .25rem;
      }
      .background-t {
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.8); 
      }
    </style>
    <div class="container background-t">
      <div class="row">
        <div class="col-12" align="center">
            <h2>Estas son las promociones activas en este momento</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card-t " id="promotionsMain">
              <div class="row">
                  <template is="dom-repeat" items="{{promotions}}" delay="0">
                    <div class="col-6">
                      <promotion-card promotion="[[item]]"></promotion-card>
                    </div>
                  </template>
                </div>
          </div>
        </div>
      </div>
    </div>
    
    <data-promotions send="[[send]]" on-finished="processResponse"></data-promotions>
  </template>
  
  <script>
    class PromotionsView extends Polymer.Element {
      static get is() { return 'promotions-view'; }
      static get properties(){
        return {
          send:{
            type: Boolean,
            value: true
          }
        }
      }

      processResponse(e){
        this.send = false;
        if(e.detail.error){
          return;
        }
        if(e.detail.response.promotions){
          this.promotions = e.detail.response.promotions;
        }
      }
    }
    window.customElements.define(PromotionsView.is, PromotionsView);
  </script>
</dom-module>