
<dom-module id="promotion-card">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 3px;
      }
      .card-selected {
        padding: 10px;
        border-radius: .25rem;
        border: 2px solid #1464A5;
      }
      .card {
        padding: 10px;
      }
      .row_card {
        padding: 10px;
      }
      .clickable{
        cursor: pointer;
      }
      .icon{
        --iron-icon-height: 20px;
        --iron-icon-width: 20px;
        --iron-icon-color: green;
      }
    </style>
    
    <div id$="card-[[promotion.id]]" class$="[[formatCard(promotion)]]" on-click="clicked">
      <div class="row">
        <div class="col-4"><img src="[[promotion.url]]" height="65px" width="65px"></div>
        <div class="col-8">
          <div class="row">
            <div class="col-12" align="right">
              <span class="text-dark">[[promotion.name]]</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12" align="right">
              <small class="text-secondary">[[promotion.description]]</small>
            </div>
          </div>
          <div class="row">
            <div class="col-10" align="right">
              <small class="text-secondary">[[promotion.merchant]]</small>
            </div>
            <div class="col-2" align="left">
              <small class="text-secondary">[[promotion.discount]]</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  
  <script>
    class PromotionCard extends Polymer.Element {
      static get is() { return 'promotion-card'; }
      static get properties(){
        return {
          clickable: Boolean
        }
      }

      formatCard(){
        if(this.clickable){
          return "card clickable";
        }
        return "card";
      }

      clicked(){
        this.dispatchEvent(new CustomEvent("clicked", {
          detail:{
            promotion: this.promotion
          },
          bubbles: true, 
          composed: true
        }));
      }

    }
    window.customElements.define(PromotionCard.is, PromotionCard);
  </script>
</dom-module>