<link rel="import" href="../data/movements.html">

<dom-module id="search-card">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 3px;
        background-color: white;
      }
      .btn-custom {
        background-color: #1464A5;
        color: white;
      }
      .row{
        padding: 1px;
      }
    </style>

    <div class="row">
      <form class="container" on-submit="search" id="searchMovements">
        <div class="col-12">
          <div class="form-row">
            <div class="form-group col-md-5">
              <div class="input-group">
                <span class="input-group-addon"><iron-icon icon="code"></span>
                <input type="text" class="form-control" id="concept" aria-describedby="conceptHelp" placeholder="Busqueda por concepto" value="{{con::input}}">
              </div>
              <small id="conceptHelp" class="form-text text-muted" align="left">Movimientos que contengan las palabras que intrduzca.</small>
            </div>
            <div class="form-group col-md-4">
              <div class="input-group">
                <span class="input-group-addon"><iron-icon icon="code"></span>
                <select class="custom-select" id="category" value="{{cat::input}}" aria-describedby="categoryHelp">
                  <option selected>Selecciona una categoría...</option>
                  <template is="dom-repeat" items="[[categories]]">
                    <option value="{{item.id}}">{{item.name}}</option>
                  </template>
                </select>
              </div>
              <small id="categoryHelp" class="form-text text-muted" align="left">Categoría del movimiento.</small>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <span class="input-group-addon"><iron-icon icon="code"></span>
                <select class="custom-select" id="type" value="{{type::input}}" aria-describedby="typeHelp">
                    <option selected>Ingresos y gastos</option>
                    <option value="0">Solo ingresos</option>
                    <option value="1">Solo gastos</option>
                  </select>
              </div>
              <small id="typeHelp" class="form-text text-muted" align="left">Tipo de movimiento.</small>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <div class="input-group">
                <span class="input-group-addon">€</span>
                <input type="number" class="form-control" id="from" aria-describedby="fromHelp" placeholder="Importe mínimo" value="{{min::input}}">
              </div>
              <small id="fromHelp" class="form-text text-muted" align="left">Importe mínimo para la búsqueda.</small>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <span class="input-group-addon">€</span>
                <input type="number" class="form-control" id="to" aria-describedby="toHelp" placeholder="Importe máximo" value="{{max::input}}">
              </div>
              <small id="toHelp" class="form-text text-muted" align="left">Importe máximo para la búsqueda.</small>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <span class="input-group-addon"><iron-icon icon="date-range"></iron-icon></span>
                <input type="date" class="form-control" id="fromDate" aria-describedby="fromDateHelp" value="{{from::input}}">
              </div>
              <small id="fromDateHelp" class="form-text text-muted" align="left">Fecha inicial para la búsqueda.</small>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <span class="input-group-addon"><iron-icon icon="date-range"></iron-icon></span>
                <input type="date" class="form-control" id="to" aria-describedby="toDateHelp" value="{{to::input}}">
              </div>
              <small id="toDateHelp" class="form-text text-muted" align="left">Fecha final para la búsqueda.</small>
            </div>
          </div>
          <div class="form-row" align="right">
            <div class="form-group col-md-5">
              <button class="btn btn-custom btn-sm btn-block">Buscar <iron-icon icon="search"></iron-icon></button>
            </div>
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-5">
              <button class="btn btn-custom btn-sm btn-block" on-click="reset">Resetear <iron-icon icon="clear"></iron-icon></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </template>
  
  <script>
    class SearchCard extends Polymer.Element {
      static get is() { return 'search-card'; }
      static get properties(){
        return {
          categories: Array,
          account:{
            type: Object,
            value: {},
          },
          resetSearch:{
            type: Boolean,
            observer: "changeReset"
          },
          min: Number,
          max: Number,
          from: Date,
          to: Date,
          cat: String,
          con: String,
          type: String,
        }
      }

      changeReset(){
        if(this.resetSearch){
          this.shadowRoot.querySelector('#searchMovements').reset();
          this.min = undefined;
          this.max = undefined;
          this.from = undefined;
          this.to = undefined;
          this.cat = undefined;
          this.con = undefined;
          this.type = undefined;
          this.resetSearch = false;
        }
      }

      reset(){
        event.preventDefault();
        event.stopPropagation();
        this.resetSearch = true;

        this.dispatchEvent(new CustomEvent("reset", {
          detail: {},
          bubbles: true, 
          composed: true
        }));
      }

      search(event){
        event.preventDefault();
        event.stopPropagation();

        var query = {};
        if(this.con){
          query.con = this.con;
        }
        if(this.min){
          query.min = new Number(this.min);
        }
        if(this.max){
          query.max = new Number(this.max);
        }
        if(this.from){
          query.from = new Date(this.from);
        }
        if(this.to){
          query.to = new Date(this.to);
        }
        if(this.cat){
          query.category = this.cat;
        }
        if(this.type){
          query.type = new Number(this.type);
        }
        
        this.dispatchEvent(new CustomEvent("search", {
          detail: query,
          bubbles: true, 
          composed: true
        }));
      } 
    }
    window.customElements.define(SearchCard.is, SearchCard);
  </script>
</dom-module>