<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">

<!-- <link rel="import" href="../my-icons.html"> -->
<link rel="import" href="../sessionStorage.html">
<link rel="import" href="../data/grantingTicket.html">
<link rel="import" href="./utils/dialog.html">

<dom-module id="techu-bank">
  <template>
    
    <style>
      :host {
        display: block;
        padding-top: 50px;
      }
      app-header {
        @apply --layout-fixed-top;
      }
      app-toolbar {
        background-color: #1464A5;
        color: #fff;
      }
      app-drawer {
        color: #fff;
        --app-drawer-content-container: {
          background-color: #1464A5;
        }
      }
      .logo a {
        color: var(--app-primary-color);
        text-decoration: none;
        /* required for IE 11, so this <a> can receive pointer events */
        display: inline-block;
        pointer-events: auto;
      }

      .row-pad{
        padding: 10px;
      }
      .selected{
        background-color: #49A5E6;
      }
      .clickable {
        cursor: pointer;
      }
      .link-white{
        color: white;
      }

      .footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        text-align: center;
      }

      .btn-custom {
        background-color: #1464A5;
        color: white;
      }
    </style>
  <div class="fit vertical layout">
    <app-location route="{{route}}"></app-location>
    <app-route route="{{route}}" pattern="/app/:page" data="{{routeData}}" tail="{{subroute}}"></app-route>
    <app-drawer-layout fullbleed force-narrow>
        <app-drawer slot="drawer" id="drawer" swipe-open align="left">
            <div class="drawer-contents">
              <div class="row row-pad">
                <paper-icon-button icon="close" on-tap="toggleDrawer"></paper-icon-button>
              </div>
              <div class="row row-pad clickable" id="movements" on-click="changeView" data-item="globalPosView" hidden="{{hideMovs}}">
                <paper-icon-item class="iron-selected">
                  <iron-icon icon="payment" item-icon slot="item-icon" data-item="globalPosView"></iron-icon>
                  <span data-item="globalPosView">Movimientos</span>
                </paper-icon-item>
              </div>
              <div class="row row-pad clickable" id="operation" on-click="changeView" data-item="operationView" hidden="{{hideOperation}}">
                <paper-icon-item>
                  <iron-icon icon="editor:attach-money" item-icon slot="item-icon" data-item="operationView"></iron-icon>
                  <span data-item="operationView">Operar</span>
                </paper-icon-item>
              </div>
              <div class="row row-pad clickable" id="promotions" on-click="changeView" data-item="promotionsView" hidden="{{hidePromos}}">
                <paper-icon-item>
                  <iron-icon icon="grade" item-icon slot="item-icon" data-item="promotionsView"></iron-icon>
                  <span data-item="promotionsView">Promociones</span>
                </paper-icon-item>
              </div>
              <div class="row row-pad clickable" id="admin" on-click="changeView" data-item="adminView" hidden="{{hideAdmin}}">
                <paper-icon-item>
                  <iron-icon icon="build" item-icon slot="item-icon" data-item="adminView" ></iron-icon>
                  <span data-item="adminView" >Administración</span>
                </paper-icon-item>
              </div>
            </div>
          </app-drawer>
    <app-header-layout fullbleed>
      <app-header slot="header" reveals>
        <app-toolbar>
          <paper-icon-button icon="menu" on-tap="toggleDrawer"></paper-icon-button>
          <div main-title align="center" class="logo"><a href="/app" aria-label="Bank Home"><h2>TechU Bank</h2></a></div>
          <template is="dom-if" if="{{isLogged}}">
            <a href="#" class="link-white" on-click="logout"><h5>logout</h5></button>
          </template>
        </app-toolbar>
      </app-header>
        
      <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="landingView" role="main">
        <landing-page name="landingView" on-login="login" on-show-modal="showModalMessage"></landing-page>
        <global-pos name="globalPosView" on-logout="sessionExpired" on-finished="track" reset="[[reset]]"></global-pos>
        <operation-view name="operationView" on-logout="sessionExpired" on-finished="track" on-show-modal="showModalMessage"></operation-view>
        <promotions-view name="promotionsView" on-logout="sessionExpired" on-finished="track"></promotions-view>
        <admin-page name="adminView" route="{{route}}" on-logout="sessionExpired" on-show-modal="showModalMessage" on-finished="track"></admin-page>
      </iron-pages>
      <footer>
        <div align="center" class=""><h6>TechU Bank is property of CBR Corporations. &copy; All rights reserved</h6></div>
      </footer>
    </app-header-layout>
  </app-drawer-layout>
  <modal-dialog id="logoutModal" center-button="Cerrar" center-icon="close" on-center="logout">
    <h2>Sesión Expirada</h2>
    <span>Su sesión ha expirado. Por favor, vuelva a introducir sus credenciales.</span>
  </modal-dialog>
  <modal-dialog id="renewJWT" left-button="Seguir" left-icon="autorenew" right-button="Desconectar" right-icon="close"
                on-left="renew" on-right="logout">
    <h2>Sesión a punto de expirar</h2>
    <span>Su sesión va a expirar a las [[expireTime]]. ¿Quiere seguir navegando en la aplicación?</span>
  </modal-dialog>
  <modal-dialog id="messagesModal" center-button="Cerrar" center-icon="close" on-center="closeMessage">
    <h2>[[modalMessage]]</h2>
  </modal-dialog>

  </div>
  <data-gt method="POST" send="[[send]]" on-finished="gtResponse" renew="true"></data-gt>
  </template>

  <script>
    class TechUBank extends SessionStorageMixin(Polymer.Element) {
      static get is() { return 'techu-bank'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: 'pageChanged',
          },
          landing: {
            type: String,
            value: "landingView"
          },
          hideMovs:{
            type: Boolean,
            value: true
          },
          hidePromos:{
            type: Boolean,
            value: true
          },
          hideAdmin:{
            type: Boolean,
            value: true
          },
          isLogged:{
            type: Boolean,
            value: false
          },
          send: {
            type: Boolean,
            value: false
          },
          activity:{
            type: Boolean,
            value: false
          }
        };
      }

      static get observers() {
        return [
          'routePageChanged(routeData.page)',
        ];
      }

      ready(){
        super.ready();
        if(!this.session.token){
          this.hideMovs = true;
          this.hidePromos = true;
          this.hideAdmin = true;
        } else {
          this.hideMovs = false;
          this.hidePromos = false;
          if(this.session.admin){
            this.hideAdmin = false;
          }
        }
        if(this.session.expires){
          this.countDown();
        }
      }

      track(){
        this.activity = true;
      }
      countDown(){
        var l = this.session.expires - new Date().getTime() - 20000;
        if(l <= 0){
          l = 1;
        }
        var t = this;
        var modal = this.$.renewJWT;
        var expires = new Date(this.session.expires);
        console.log(expires.toTimeString() + " - " + l);
        setTimeout(function(){
          if(t.activity){
            t.renew();
            t.activity = false;
          }
          else{
            t.expireTime = expires.toTimeString().split(' ')[0];
            modal.open();
          }
        }, l)
      }

      renew(){
        this.$.renewJWT.close();
        this.send = true;
      }

      gtResponse(e){
        this.send = false;
        if(!e.detail.error){
          this.countDown();
        }
        else{
          this.sessionExpired();
        }
      }

      closeMessage(){
        this.$.messagesModal.close();
      }

      routePageChanged(page) {
        this.$.movements.classList.remove("selected");
        this.$.promotions.classList.remove("selected");
        this.$.admin.classList.remove("selected");
        if(page === "globalPosView"){
          this.$.movements.classList.add("selected");
        }
        else if(page === "promotionsView"){
          this.$.promotions.classList.add("selected");
        }
        else if(page === "adminView"){
          this.$.admin.classList.add("selected");
        }
        this.page = page || this.landing;
      }

      pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        if(this.page != this.landing && !this.isValidSession()){
          this.showLanding();
          return;
        }
        else{
          if(!this.isLogged && this.isValidSession()){
            this.isLogged = true;
          }
        }

        if(this.page != this.landing){
          if(this.session.admin){
            this.hideAdmin = false;
          }
          // else{
            this.hideMovs = false;
            this.hidePromos = false;
          // }
        }
        
        var resolvedPageUrl = this.resolveUrl(page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this.showLanding.bind(this),
            true);
      }

      showLanding() {
        if(!this.session.token){
          this.hideMovs = true;
          this.hidePromos = true;
          this.hideAdmin = true;
        }
        
        this.page = this.landing;
        this.set("route.path", "app/" + this.page);
      }

      toggleDrawer(){
        this.$.drawer.toggle();
      }

      changeView(event){
        var targetView = event.target.getAttribute("data-item");
        if(targetView == "globalPosView"){
          this.reset = true;
        }
        else{
          this.reset = false;
        }
        this.set("route.path", "/app/" + targetView);
        this.toggleDrawer();
      }

      login(event){
        this.isLogged = true;
        if(this.session.admin){
          this.hideAdmin = false;
        }
        // else{
          this.hideMovs = false;
          this.hidePromos = false;
        // }
        this.set("route.path", "/app/globalPosView");
        this.countDown();
      }

      showModalMessage(e){
        this.modalMessage = e.detail.message;
        this.$.messagesModal.open();
      }

      sessionExpired(){
        this.$.logoutModal.open();
      }

      logout(){
        this.forceLogout();
        location.reload();
        this.$.logoutModal.close();
      }
    }

    window.customElements.define(TechUBank.is,  TechUBank);
  </script>
</dom-module>
