<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../data/weather.html">

<dom-module id="weather-view">
<template>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <style>
    :host {
      display: block;
      padding: 5px;
    }
    .big {
      --iron-icon-height: 44px;
      --iron-icon-width: 44px;
    }
  </style>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4" align="right">
      <h3>[[weather.city]]</h3>
    </div>
    <div class="col-1" align="center">
      <iron-icon class="big" src="[[weather.icon]]"></iron-icon>
    </div>
    <div class="col-6">
      <h3>[[weather.description]]</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-7" align="center">
      <h3>[[weather.temperature]] ºC - [[weather.humidity]]% Humedad</h3>
    </div>
    <div class="col-3"></div>
  </div>
  <data-weather send="true" on-finished="processResponse" city="[[city]]"></data-weather>
</template>

<script>
  class WeatherView extends Polymer.Element {
    static get is() { return 'weather-view'; }
    static get properties() {
      return {
        city:{
          type: String,
          value: "Madrid,ES"
        }
      };
    }

    processResponse(event){
      this.send = false;
      if(!event.detail.error){
        this.weather = event.detail.weather;
      }
    }
  }

  window.customElements.define(WeatherView.is,WeatherView);
</script>
</dom-module>