<dom-module id="breadcrumb-nav">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 5px;
      }
      .clickable {
        cursor: pointer;
      }
      .btn-custom {
        background-color: #1464A5;
        color: white;
      }
    </style>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-8">
        <nav aria-label="breadcrumb" role="navigation" hidden="[[hideNav]]">
          <ol class="breadcrumb">
            <template is="dom-repeat" items="[[stack]]">
              <li class$="breadcrumb-item [[loadClass(item)]]" on-tap="navigateBack">[[item.display]]</li>
            </template>
          </ol>
        </nav>
      </div>
      <div class="col-2">
        <div class="form-row justify-content-center form-group">
          <div class="col-sm-12">
            <button class="btn btn-block btn-custom" on-click="saveChanges" disabled$="{{saveDisabled}}">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script>
    class Breadcrumb extends Polymer.Element {
      static get is() { return 'breadcrumb-nav'; }
      static get properties() {
        return {
          saveDisabled: Boolean
        };
      }

      ready(){
        super.ready();
        this.stack = [];

        if(this.first && this.stack.length == 0){
          this.push("stack", this.first);
        }
      }

      newItem(page, message){
        var last = this.stack[this.stack.length - 1];
        this.set("stack." + (this.stack.length - 1), {active: false, display: last.display, page: last.page});
        this.push("stack", {active: true, display: message, page: page});
      }

      goBackOneLevel(){
        this.navigateBack({model:{index: (this.stack.length - 2)}});
      }

      goBackFirstLevel(){
        this.navigateBack({model:{index: 0}});
      }

      navigateBack(e){
        var last = this.stack[e.model.index];
        this.set("stack." + e.model.index, {active: true, display: last.display, page: last.page});
        for(var i = this.stack.length; i > e.model.index + 1; i--){
          this.pop("stack");
        }
        this.dispatchEvent(new CustomEvent("navigate-back", {
          detail: {
            page: this.stack[e.model.index].page,
            index: e.model.index
          }, 
          bubbles: true, 
          composed: true
        }));
      }

      saveChanges(){
        this.dispatchEvent(new CustomEvent("save-changes", {
          detail: {
          }, 
          bubbles: true, 
          composed: true
        }));
      }

      loadClass(item){
        if(item.active){
          return "active";
        }
        else{
          return "clickable";
        }
      }

    }

    window.customElements.define(Breadcrumb.is, Breadcrumb);
  </script>
</dom-module>