<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">

<dom-module id="modal-dialog">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 5px;
      }
      .btn-custom {
        background-color: #1464A5;
        color: white;
      }
      paper-dialog {
        min-width: 500px;
      };
    </style>
    <paper-dialog id="modal" class="top-modal" modal>
      <div class="row">
        <div class="col-12" align="center">
          <slot></slot>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <template is="dom-if" if="{{isButton(1)}}">
            <button class="btn btn-custom btn-sm btn-block" on-click="left">
              [[leftButton]]<iron-icon icon="[[leftIcon]]"></iron-icon>
            </button>
          </template>
        </div>
        <div class="col-4">
          <template is="dom-if" if="{{isButton(2)}}">
            <button class="btn btn-custom btn-sm btn-block" on-click="center">
              [[centerButton]]<iron-icon icon="[[centerIcon]]"></iron-icon>
            </button>
          </template>
        </div>
        <div class="col-4">
          <template is="dom-if" if="{{isButton(3)}}">
            <button class="btn btn-custom btn-sm btn-block" on-click="right">
              [[rightButton]]<iron-icon icon="[[rightIcon]]"></iron-icon>
            </button>
          </template>
        </div>
      </div>
    </paper-dialog>
  </template>

  <script>
    class ModalDialog extends Polymer.Element {
      static get is() { return 'modal-dialog'; }
      static get properties() {
        return {
          leftButton: String,
          centerButton: String,
          rightButton: String,
          leftIcon: String,
          centerIcon: String,
          rightIcon: String,
        };
      }

      

      isButton(button){
        var condition = "";
        switch(button){
          case 1:
            condition = this.leftButton;
            break;
          case 2:
            condition = this.centerButton;
            break;
          case 3:
            condition = this.rightButton;
            break;
        }
        if(condition){
          return true;
        }
        return false;
      }

      left(){
        this.dispatchEvent(new CustomEvent("left", {bubbles: true, composed: true}));
      }

      center(){
        this.dispatchEvent(new CustomEvent("center", {bubbles: true, composed: true}));
      }

      right(){
        this.dispatchEvent(new CustomEvent("right", {bubbles: true, composed: true}));
      }

      open(){
        this.$.modal.open();
      }
      
      close(){
        this.$.modal.close();
      }
    }

    window.customElements.define(ModalDialog.is, ModalDialog);
  </script>
</dom-module>