<dom-module id="table-list">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 5px;
      }
      .thead-custom {
        background-color: #1464A5;
        color: white;
      }
      .table-custom{
        padding: 15px;
      }
      .clickable-row{
        cursor: pointer;
        vertical-align: middle;
      }
      .red-icon{
        color: var(--paper-red-500);
        --paper-icon-button-ink-color: var(--paper-indigo-500);
        width: 40px;
        height: 40px;
      }
      .green-icon{
        color: var(--paper-green-500);
        --paper-icon-button-ink-color: var(--paper-indigo-500);
        width: 40px;
        height: 40px;
      }
    </style>
    <div class="row form-row" hidden="[[hide]]">
      <div class="col-12">
        <div class="input-group-sm input-group align-bottom">
          <h5 class="bottom">[[message]]</h5>
          <paper-icon-button icon="add-circle" class="green-icon" on-tap="create"></paper-icon-button>
        </div>
      </div>  
    </div>
    <div class="row form-row" hidden="[[hide]]">
      <div class="col-12">
          <input type="text" class="form-control" id="filter" placeholder="Filtro de búsqueda" value="{{filter::input}}">        
      </div>
    </div>
    <div class="row table-custom" hidden="[[hide]]">
      <div class="col-12">
        <table class="table table-hover">
          <thead>
            <tr class="thead-custom">
              <template is="dom-repeat" items="[[columns]]">
                <th>[[item.display]]</th>
              </template>
              <template is="dom-if" if="[[showRemoveButton]]">
                <th></th>
              </template>
            </tr>
          </thead>
          <tbody>
            <template is="dom-repeat" items="[[content]]" as="row" filter="{{computeFilter(filter)}}">
              <tr class="clickable-row" on-tap="clickRow">
                <template is="dom-repeat" items="[[columns]]">
                  <td class="align-middle">[[getValue(row, item.name)]]</td>
                </template>
                <template is="dom-if" if="[[showRemoveButton]]">
                  <td><paper-icon-button icon="delete" class="red-icon cell" on-tap="deleteRow"></paper-icon-button></td>
                </template>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    class TableList extends Polymer.Element {
      static get is() { return 'table-list'; }
      static get properties() {
        return {
          columns: Array,
          content: Array,
          message: String,
          showRemoveButton: Boolean
        };
      }

      getValue(row, columnName){
        return row[columnName];
      }

      create(event){
        this.dispatchEvent(new CustomEvent("create-row", {
          detail: {
            
          }, 
          bubbles: true, 
          composed: true
        }));
      }
      
      clickRow(event){
        this.dispatchEvent(new CustomEvent("click-row", {
          detail: {
            row: event.model.row
          }, 
          bubbles: true, 
          composed: true
        }));
      }

      deleteRow(event){
        event.preventDefault();
        event.stopPropagation();
        this.dispatchEvent(new CustomEvent("delete-row", {
          detail: {
            row: this.content[event.model.index]
          }, 
          bubbles: true, 
          composed: true
        }));
      }

      computeFilter(string) {
        if (!string) {
          // set filter to null to disable filtering
          return null;
        } else {
          // return a filter function for the current search string
          string = string.toLowerCase();
          var columns = this.columns;
          return function(row) {
            for(var i in columns){
              var columnValue = row[columns[i].name].toString().toLowerCase();
              if(columnValue.indexOf(string) != -1){
                return true;
              }
            }
            return false;
          };
        }
      }
    }

    window.customElements.define(TableList.is, TableList);
  </script>
</dom-module>