<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="session-storage">
  <script>
    (function() {

      let sessionInstance = null;
      let subscribers = [];

      class SessionStorage extends Polymer.Element {
        static get is() { return 'session-storage'; }

        static get properties() {
          return {
            sessionInt: {
              type: Object,
              value: () => ({
                userId: "",
                userName: "",
                token: "",
                expires: "",
                admin: false,
                name: "",
                surname: "",
              })
            }
          }
        }

        constructor() {
          super();
          if (!sessionInstance){
            sessionInstance = this;
            if(sessionStorage.session){
              var currentSession = JSON.parse(sessionStorage.session);
              if(currentSession.expires){
                var expires = currentSession.expires;
                var now = new Date().getTime();
                if(expires >= now){
                  this.sessionInt = currentSession;
                }
              }
              if(!this.sessionInt.token){
                sessionStorage.removeItem("session");
              }
            }
          }
        }

        register(subscriber) {
          subscriber.session = this.sessionInt;
          subscriber.isValidSession = function(){
            if(this.session.expires){
              var expires = this.session.expires;
              var now = new Date().getTime();
              if(expires >= now){
                return true;
              }
            }
            this.sessionInt = {};
            sessionStorage.removeItem("session");
            return false;
          }
          subscriber.forceLogout = function(){
            this.sessionInt = {};
            sessionStorage.removeItem("session");
          }
          subscribers.push(subscriber);
        }

        unregister(subscriber){
          const index = subscribers.indexOf(subscriber);
          subscribers.splice(index, 1);
        }

        setSession(session){
          if(session.token){
            sessionStorage.session = JSON.stringify(session);
            this.sessionInt = session;
          }else if(sessionStorage.session){
            sessionStorage.removeItem("session"); 
            this.sessionInt = {
                userId: "",
                userName: "",
                token: "",
                expires: "",
                admin: false,
                name: "",
                surname: "",
              };
          }
          
          for(var i in subscribers){
            subscribers[i].session = this.sessionInt;
          }
        }
      }

      window.customElements.define(SessionStorage.is, SessionStorage);

      SessionStorageMixin = (superClass) => {
        return class extends superClass {
          static get properties() {
            return {
              session: {
                type: Object,
                observer: "change"
              }
            }
          }

          change(session){
            sessionInstance.setSession(session);
          }

          constructor(){
            super();
            new SessionStorage();
          }

          connectedCallback() {
            sessionInstance.register(this);
            super.connectedCallback();
          }

          disconnectedCallback() {
            sessionInstance.unregister(this);
            super.disconnectedCallback();
          }
        }
      }
    }());
  </script>
</dom-module>
