<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="data-admin">
  <template>
    <iron-ajax
      id="request"
      url$="https://localhost:8443/api/v1/admin/[[entity]][[entityId]]"
      method="[[method]]"
      body="[[body]]"
      handle-as="json"
      content-type="[[contentType]]"
      on-response="handleResponse"
      on-error="handleError"></iron-ajax>
  </template>
  <script>
    class DataAdmin extends SessionStorageMixin(Polymer.Element) {
      static get is() { return 'data-admin'; }
      static get properties() {
        return {
          send: {
            type: Boolean,
            observer: "sendChange"
          },
          entity: String,
          method: String,
        }
      }

      ready(){
        super.ready();
      }

      sendChange(send){
        this.contentType = "application/json";
        if(this.method == "DELETE"){
          this.contentType = "";
        }
        if(send){
          this.$.request.headers["Authorization"] = "Bearer " + this.session.token;
          this.$.request.generateRequest();
        }
      }

      handleResponse(response){
        this.dispatchEvent(new CustomEvent("finished", {
          detail: {
            success: true,
            entity: this.entity,
            entityId: this.entityId,
            method: this.method,
            response: response.detail.response,
            status: 200
          },
          bubbles: true, 
          composed: true
        }));
      }

      handleError(response, error){
        var errorMsg = error.error;
        if(response.detail.request.xhr.response){
          if(response.detail.request.xhr.response.error){
            errorMsg = response.detail.request.xhr.response.error;
          }
          else if(response.detail.request.xhr.response.message){
            errorMsg = response.detail.request.xhr.response.message;
          }
        }

        if(response.detail.request.xhr.status == 401){
          this.dispatchEvent(new CustomEvent("logout", {bubbles: true, composed: true}));
        }
        else{
          this.dispatchEvent(new CustomEvent("finished", {
            detail: {
              success: false,
              entity: this.entity,
              entityId: this.entityId,
              method: this.method,
              error: errorMsg,
              status: response.detail.request.xhr.status
            },
            bubbles: true, 
            composed: true
          }));
        }
      }
    }

    window.customElements.define(DataAdmin.is,  DataAdmin);
  </script>
</dom-module>