<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="data-categories">
  <template>
    <iron-ajax
      id="request"
      url="https://localhost:8443/api/v1/categories"
      method="GET"
      handle-as="json"
      on-response="handleResponse"
      on-error="handleError"></iron-ajax>
  </template>
  <script>
    class Categories extends SessionStorageMixin(Polymer.Element) {
      static get is() { return 'data-categories'; }
      static get properties() {
        return {
        }
      }

      ready(){
        super.ready();
        this.$.request.headers["Authorization"] = "Bearer " + this.session.token;
        this.$.request.generateRequest();
      }

      handleResponse(response){
        this.dispatchEvent(new CustomEvent("finished", {
          detail: {
            categories: response.detail.response.categories,
            status: 200
          },
          bubbles: true, 
          composed: true
        }));
      }

      handleError(response, error){
        var errorMsg = error.error;
        if(response.detail.request.xhr.response){
          errorMsg = response.detail.request.xhr.response.message;
        }
        if(response.detail.request.xhr.status == 401){
          this.dispatchEvent(new CustomEvent("logout", {bubbles: true, composed: true}));
        }
        else{
          this.dispatchEvent(new CustomEvent("finished", {
            detail: {
              error: errorMsg,
              status: response.detail.request.xhr.status
            },
            bubbles: true, 
            composed: true
          }));
        }
      }
    }

    window.customElements.define(Categories.is,  Categories);
  </script>
</dom-module>