<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="create-user">
  <template>
    <iron-ajax
      id="request"
      url="https://localhost:8443/api/v1/users"
      method="POST"
      body="[[body]]"
      handle-as="json"
      content-type="application/json"
      on-response="handleResponse"
      on-error="handleError"></iron-ajax>
  </template>
  <script>
    class CreateUser extends SessionStorageMixin(Polymer.Element) {
      static get is() { return 'create-user'; }
      static get properties() {
        return {
          send: Boolean,
        }
      }

      static get observers() {
        return [
          '_sendChange(send)',
        ];
      }

      _sendChange(send){
        if(send){
          this.$.request.generateRequest();
        }
      }

      handleResponse(response){
        this.dispatchEvent(new CustomEvent("finished", {
          detail: {}, 
          bubbles: true, 
          composed: true
        }));
      }

      handleError(response, error){
        var error = "";
        if(response.detail.request.xhr.response){
          error = response.detail.request.xhr.response.message;
        }
        else{
          error = "Ha habido un error de conexión. Inténtelo de nuevo más tarde"
        }
        this.dispatchEvent(new CustomEvent("finished", {
          detail: {
            error: error
          },
          bubbles: true, 
          composed: true
        }));
      }
    }

    window.customElements.define(CreateUser.is,  CreateUser);
  </script>
</dom-module>