<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="data-gt">
  <template>
    <iron-ajax
      id="request"
      url="https://localhost:8443/api/v1/grantingTicket"
      method="[[method]]"
      body="[[body]]"
      handle-as="json"
      content-type="application/json"
      on-response="handleResponse"
      on-error="handleError"></iron-ajax>
  </template>
  <script>
    class GT extends SessionStorageMixin(Polymer.Element) {
      static get is() { return 'data-gt'; }
      static get properties() {
        return {
          send: {
            type: Boolean,
            value: false,
            observer: "sendChange"
          },
          renew: Boolean,
          method:{
            type: String,
            value: "POST"
          },
        }
      }

      sendChange(send){
        if(send){
          if(this.renew){
            this.$.request.headers["Authorization"] = "Bearer " + this.session.token;
            this.method = "PUT";
            this.body = {};
          }
          else{
            this.method = "POST";
            this.body = {"user": this.user, "password": this.password};
          }
          this.$.request.generateRequest();
        }
      }

      handleResponse(response){
        var session = {};
        session.token = response.detail.response.ticket;
        session.expires = response.detail.response.payload.exp;
        
        if(!this.renew){
          session.userId = response.detail.response.payload.sub;
          session.userName = response.detail.response.payload.usr;
          session.admin = response.detail.response.payload.adm;
          session.name = response.detail.response.payload.name;
          session.surname = response.detail.response.payload.sn;
        }
        else{
          session.userId = this.session.userId;
          session.userName = this.session.userName;
          session.admin = this.session.admin;
          session.name = this.session.name;
          session.surname = this.session.surname;
        }

        this.set("session", session);
        this.dispatchEvent(new CustomEvent("finished", {
          detail: {}, 
          bubbles: true, 
          composed: true
        }));
      }

      handleError(response, error){
        var errorMsg = error.error;
        if(response.detail.request.xhr){
          errorMsg = error.request.xhr
        }
        else if(!errorMsg){
          errorMsg = "Ha habido un error de conexión. Inténtelo de nuevo más tarde"
        }
        
        this.dispatchEvent(new CustomEvent("finished", {
          detail: {
            error: errorMsg
          },
          bubbles: true, 
          composed: true
        }));
      }
    }

    window.customElements.define(GT.is,  GT);
  </script>
</dom-module>