<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="data-movements">
  <template>
    <iron-ajax
      id="request"
      url="https://localhost:8443/api/v1/users/[[user]]/accounts/[[account]]/movements?page_size=[[size]]&page=[[page]]"
      method="GET"
      body="[[body]]"
      params="[[params]]"
      handle-as="json"
      on-response="handleResponse"
      on-error="handleError"></iron-ajax>
  </template>
  <script>
    class Movements extends SessionStorageMixin(Polymer.Element) {
      static get is() { return 'data-movements'; }
      static get properties() {
        return {
          send: {
            type: Boolean,
            observer: "sendChange"
          },
          page: {
            type: Number,
            value: 0
          },
          size: {
            type: Number,
            value: 5
          }
        }
      }

      sendChange(send){
        if(!this.user){
          this.user = this.session.userId;
        }
        if(send){
          this.$.request.headers["Authorization"] = "Bearer " + this.session.token;
          this.$.request.generateRequest();
        }
      }

      handleResponse(response, request){
        this.dispatchEvent(new CustomEvent("finished", {
          detail: {
            movements: response.detail.response.movements,
            totalCount: response.detail.response.totalCount,
            count: response.detail.response.count,
            page: response.detail.response.page,
            pageSize: response.detail.response.pageSize,
            status: 200
          },
          bubbles: true, 
          composed: true
        }));
      }

      handleError(response, error){
        var errorMsg = error.error;
        if(response.detail.request.xhr.response){
          errorMsg = response.detail.request.xhr.response.message;
        }
        if(response.detail.request.xhr.status == 401){
          this.dispatchEvent(new CustomEvent("logout", {bubbles: true, composed: true}));
        }
        else{
          this.dispatchEvent(new CustomEvent("finished", {
            detail: {
              error: errorMsg,
              status: response.detail.request.xhr.status
            },
            bubbles: true, 
            composed: true
          }));
        }
      }
    }

    window.customElements.define(Movements.is,  Movements);
  </script>
</dom-module>