<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="data-promotions">
  <template>
    <iron-ajax
      id="request"
      url="https://localhost:8443/api/v1/users/[[user]]/promotions"
      method="GET"
      body="[[body]]"
      params="[[params]]"
      handle-as="json"
      content-type="application/json"
      on-response="handleResponse"
      on-error="handleError"></iron-ajax>
  </template>
  <script>
    class Promotions extends SessionStorageMixin(Polymer.Element) {
      static get is() { return 'data-promotions'; }
      static get properties() {
        return {
          send: {
            type: Boolean,
            observer: "sendChange"
          }
        }
      }

      sendChange(send){
        this.user = this.session.userId;
        if(send){
          this.$.request.headers["Authorization"] = "Bearer " + this.session.token;
          this.$.request.generateRequest();
        }
      }

      handleResponse(response){
        this.dispatchEvent(new CustomEvent("finished", {
          detail: {
            response: response.detail.response,
            status: 200
          },
          bubbles: true, 
          composed: true
        }));
      }

      handleError(response, error){
        var errorMsg = error.error;
        if(response.detail.request.xhr.response){
          errorMsg = response.detail.request.xhr.response.message;
        }
        if(response.detail.request.xhr.status == 401){
          this.dispatchEvent(new CustomEvent("logout", {bubbles: true, composed: true}));
        }
        else{
          this.dispatchEvent(new CustomEvent("finished", {
            detail: {
              error: errorMsg,
              status: response.detail.request.xhr.status
            },
            bubbles: true, 
            composed: true
          }));
        }
      }
    }

    window.customElements.define(Promotions.is,  Promotions);
  </script>
</dom-module>