<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="data-weather">
  <template>
    <iron-ajax
      id="request"
      url="https://localhost:8443/api/v1/weather"
      params="[[params]]"
      method="GET"
      handle-as="json"
      on-response="handleResponse"
      on-error="handleError"></iron-ajax>
  </template>
  <script>
    class WeatherData extends SessionStorageMixin(Polymer.Element) {
      static get is() { return 'data-weather'; }
      static get properties() {
        return {
          send: {
            type: Boolean,
            observer: "sendChange"
          },
          city:String,
        }
      }

      sendChange(send){
        if(send){
          if(this.city){
            this.params = "?city=" + this.city;
          }
          else{
            this.params = "";
          }
          this.$.request.generateRequest();
        }
      }

      handleResponse(response, request){
        this.dispatchEvent(new CustomEvent("finished", {
          detail: {
            weather: response.detail.response.weather
          },
          bubbles: true, 
          composed: true
        }));
      }

      handleError(response, error){
        var errorMsg = error.error;
        if(response.detail.request.xhr.response){
          errorMsg = response.detail.request.xhr.response.message;
        }
        this.dispatchEvent(new CustomEvent("finished", {
          detail: {
            error: errorMsg,
            status: response.detail.request.xhr.status
          },
          bubbles: true, 
          composed: true
        }));
      }
    }

    window.customElements.define(WeatherData.is,  WeatherData);
  </script>
</dom-module>